<h4>Clean Up, Claims &amp; Customer Survey</h4>

<p>
  <strong><em>Clean-Up</em></strong><br>
  Once you have emptied out all your household goods from the boxes, call the local moving company and set up a time for them to come back out and remove any old boxes, packing material, etc. They are responsible for removing it from the residence one time after delivery.
</p>

<%= render layout: 'shared/pro_tip' do %>
  <strong>Pro-Tip:</strong> Save time by piling up all the boxes and moving supplies in one location!
<% end %>

<p>
  <strong><em>Claims</em></strong><br>
  While we hope all of your items arrived in one piece, the reality is that isn’t always the case. Sign in to the <%= link_to 'Defense Personal Property System', 'https://eta.sddc.army.mil/ETASSOPortal/default.aspx' %> and complete this part of the process. When you log in to the system, you can expect to see two paths - Lost/Damage Report and Claims Submission.
</p>

<p>A Loss/Damage Report is your way to notify the moving company that some of your items are missing or were damaged during the delivery process. This must be done within 75 days of your delivery date. If the items cannot be found or they cannot fix the damage, you must file a claim to be reimbursed! Remember... a Loss/Damage Report is NOT a claim!</p>

<p>If you did not submit a Loss/Damage Report, you will need to file your claim within 75 days of delivery. If you submitted a Loss/Damage Report within the 75 day window, you will have up to 9 months to file a claim for the Full Replacement Value of the item you are claiming. If the claim is filed more than 9 months from the delivery date, you will only be eligible for depreciated value up to two years from delivery.</p>

<p>
  <strong><em>Customer Satisfaction Survey</em></strong><br>
  The survey asks some questions about your experience and is read by actual humans! Be upfront and honest in your feedback, because if there is a negative trend on a moving company, they can be suspended temporarily or indefinitely for providing poor service. On the flip side, if you find a moving company that did an excellent job, please put that in the survey as well to help out your colleagues!
</p>
