<h4>Clean Up, Claims &amp; Customer Survey</h4>

<p>Your moving company is not required to return and pick up any empty boxes after they’ve delivered everything to your new home. The movers are only responsible for hauling away empty boxes and packing materials when they’re finished delivering your belongings. If you ask them to come back to take your empty boxes and they agree to do it, then that’s great! If possible, have everything piled up in one location to get this done quickly.</p>

<p>While we hope all of your items arrived in one piece, the reality is that isn't always the case. You will need to <%= link_to 'sign in to the Defense Personal Property System (DPS)', 'https://eta.sddc.army.mil/ETASSOPortal/default.aspx' %> and complete this part of the process. When you login to the system, you can expect to see two paths - Lost/Damage Report and Claims Submission.</p>

<p>Filling out the <strong>Loss or Damage AT Delivery</strong> Form lets the moving company know that some of your items were missing or damaged during the delivery process. This form must be done within 75 days of your delivery date. If the items cannot be found or they cannot fix the damage, <strong>you must file a claim to be reimbursed!</strong> Remember… a Loss/Damage Report is NOT a claim!</p>

<p>If you did not submit a Loss/Damage Report, you will need to file your claim within 75 days of delivery. If you submitted a Loss/Damage Report within the 75 day window, you will have up to 9 months to file a claim for the full replacement value of the item you are claiming. If the claim is filed more than 9 months from the delivery date, you will only be eligible for depreciated value up to two years from delivery. Contact your Military Claims Office or MCO if you have questions.</p>

<p>The last and final action item you can expect from the move experience is a survey. The survey will ask some questions about your experience and we highly encourage you to be upfront and honest. The surveys are read (by humans!) and if there is a negative trend on a moving company they can be suspended temporarily or indefinitely if they are providing poor service. On the flip side, if you find a moving company that did an excellent job, please put that in the survey as well to help out your colleagues!</p>
