<p>Non-temporary storage (NTS) is long-term storage of your belongings used generally in lieu of shipping your items to your new duty station. Expect the storage location to be located near the origin (pickup) location where items may remain for the duration of your tour. When you return and have established a new address, you can request retrieval and shipment of your stored belongings once you have established a new address.</p>

<p><strong>Approved for:</strong></p>

<div class="usa-grid-full">
  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('conus') %>
    </div>
    <div>
      <span class="tag tag-unapproved">
        <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-unapproved">
        <span class="usa-sr-only">Not approved for</span> Permanent Change of Station (PCS), exceptions may apply
      </span>
    </div>
  </div>

  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('oconus') %>
    </div>
    <div>
      <span class="tag tag-unapproved">
        <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
      </span>
    </div>
  </div>
</div>
