<p>Unaccompanied baggage (UG) is an option for shipments where a small subset of your total weight allowance is expedited to your new location, typically while you wait for the rest of your belongings to arrive at a later date.</p>

<p><strong>Approved for:</strong></p>

<div class="usa-grid-full">
  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('conus') %>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Temporary Duty (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-unapproved">
        <span class="usa-sr-only">Not approved for</span> Permanent Change of Station (PCS)
      </span>
    </div>
  </div>

  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('oconus') %>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Temporary Duty (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
      </span>
    </div>
  </div>
</div>
