<%- @page_title = 'What to expect… Civilians' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <%# TODO Add page content %>

    <p>Coming soon!</p>
  </div>
</div>
