<%- @page_title = 'What to expect… Civilians' -%>

<%= render 'shared/login_banner' %>
<%= render partial: 'shared/breadcrumbs', locals: {page_title: @page_title} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%# TODO Add page content %>

  <p>Coming soon!</p>
</div>
