<%- @page_title = 'Nightmare Moves' -%>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <h2>Lesson: Create a detailed inventory &amp; bring the parts box with you!</h2>
  <p>“On our first PCS, my wife and I were moving from North Carolina to Pearl Harbor. The packing company in North Carolina disassembled all of our furniture, including a sectional sofa and our bed, to fit it on the truck more compactly. After 1 month, when our furniture finally arrived, the movers in Pearl Harbor couldn’t find the box of bolts that the previous movers had packed. Yep, that’s right, the single box with every single screw, nut and bolt for our furniture was lost. Because we couldn’t prove the movers disassembled everything, we were left with a houseful of unassembled furniture. My wife and I ended up throwing everything away and buying new stuff.</p>
  <p>“Every move since then, I make sure the inventory says whether or not the movers took something apart and where those bolts are stored!”</p>

  <h2>Lesson: Separate anything you don’t want packed in a separate room or put in your car!</h2>
  <p>“When the packers come there’s an absolute flurry of activity, everything getting boxed up. It’s impossible to watch absolutely everything. On one of our moves, the movers packed up the whole house, closed the truck, and was preparing to drive off when my husband realized we couldn’t find the car keys—I had put them on the kitchen counter earlier that morning. My husband ran outside and chased the moving truck down the street. They returned and started unpacking all of our boxes until they found our keys!”</p>

  <h2>Lesson: Take pictures &amp; videos of everything… your residence &amp; all your items <i>before</i> the movers arrive!</h2>
  <p>“Last Monday, the movers took a giant chunk out of my wall and then proceeded to argue with me over if was already there even though I saw it happen, and tried to play it off as if it was no big deal. So, in the grand scheme of things, a little drywall is not a big deal, but when you are out of time, closing on your home, living in lodging, have family already on the road ahead of you, and your ability to fix it is limited.”</p>

  <h2>Lesson: Check that inventory sheet… make sure the pre-existing damage section is correct!</h2>
  <p>“Our movers were trying to convince me that my brand new dining room set needed to be marked with every pre-existing condition acronym possible since it surely looked like it had just left a war zone.”</p>
</div>
