<%- @page_title = 'What to expect… OCONUS PCS' -%>

<div class="usa-section main-section">
  <h1>What to expect… <%= abbr_tag('oconus') %> <%= abbr_tag('pcs') %></h1>

  <%# TODO Add page content %>

  <p>Coming soon!</p>
</div>
