<%- @page_title = 'What to expect… OCONUS PCS' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1>What to expect… <%= abbr_tag('oconus') %> <%= abbr_tag('pcs') %></h1>

    <%# TODO Add page content %>

    <p>Coming soon!</p>
  </div>
</div>
