<ul class="usa-unstyled-list service-emblems-list">
  <li>
    <a href="/service-specific-information/army">
      <img src="{% asset_path emblems/army.svg %}" alt="United States Department of the Army emblem">
      Army
    </a>
  </li>
  <li>
    <a href="/service-specific-information/marines">
      <img src="{% asset_path emblems/marines.svg %}" alt="United States Marine Corps emblem">
      Marine Corps
    </a>
  </li>
  <li>
    <a href="/service-specific-information/navy">
      <img src="{% asset_path emblems/navy.svg %}" alt="United States Department of the Navy emblem">
      Navy
    </a>
  </li>
  <li>
    <a href="/service-specific-information/air-force">
      <img src="{% asset_path emblems/air-force.svg %}" alt="United States Department of the Air Force emblem">
      Air Force
    </a>
  </li>
  <li>
    <a href="/service-specific-information/coast-guard">
      <img src="{% asset_path emblems/coast-guard.svg %}" alt="United States Coast Guard emblem">
      Coast Guard
    </a>
  </li>
</ul>
