# macOS

# Icon must end with two \r
Icon


._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
*.DS_Store
Network Trash Folder
Temporary Items


# Windows

*.cab
*.lnk
*.msi
*.msm
*.msp
$RECYCLE.BIN/
Desktop.ini
ehthumbs_vista.db
ehthumbs.db
Thumbs.db


# Jekyll

.jekyll-metadata
.sass-cache/
public/
