.service-emblems-list {
  @include margin($site-margins-mobile null);
  overflow: hidden;

  li {
    @include padding($site-margins-mobile);
    float: left;
    width: 50%;

    @include media($medium-screen) {
      width: 20%;
    }

    a {
      display: block;
      font-weight: $font-bold;
      text-align: center;
    }

    img {
      display: block;
      margin: 0 auto 1.5rem auto;
      max-width: 12rem;
      width: 100%;
    }
  }
}

.two-column-list {
  @include media($medium-screen) {
    columns: 2;
  }

  li {
    margin-bottom: 0;
    margin-left: 2rem;
  }
}
