table tbody {
  th {
    font-weight: $font-bold;
    vertical-align: top;
  }

  td > :first-child {
    margin-top: 0;
  }
}

.entitlements-table {
  td {
    vertical-align: top;

    + td {
      text-align: right;
      width: 33%;

      @include media($nav-width) {
        width: 25%;
      }
    }
  }

  b {
    display: block;
    font-size: $h3-font-size;
  }

  i {
    font-size: $h6-font-size;
  }
}

.special-items-table {
  @media screen and (max-width: $medium-screen) {
    td,
    th {
      border-top: none;
      display: block;
    }

    th {
      align-items: center;
      display: flex;
    }

    tr:first-child th {
      border-top: 1px solid $color-gray;
    }

    img {
      margin-right: $site-margins-mobile;
    }
  }

  th {
    @include media($medium-screen) {
      text-align: center;

      img {
        display: block;
        margin: 0 auto 1rem auto;
      }
    }

    i {
      display: block;
      font-size: $h5-font-size;
      font-weight: $font-normal;
    }
  }

  td h3 {
    border-bottom: 0.125rem solid $color-gray-light;
    margin-bottom: $site-margins-mobile;
    padding-bottom: $site-margins-mobile;
  }
}
