table tbody {
  th {
    font-weight: $font-bold;
    vertical-align: top;
  }

  td > :first-child {
    margin-top: 0;
  }
}

.entitlements-table {
  td {
    vertical-align: top;

    + td {
      text-align: right;
      width: 33%;

      @include media($nav-width) {
        width: 25%;
      }
    }
  }

  b {
    display: block;
    font-size: $h3-font-size;
  }

  i {
    font-size: $h6-font-size;
  }
}

.special-items-table {
  th i {
    display: block;
    font-size: $h5-font-size;
    font-weight: $font-normal;
  }

  td h3 {
    border-bottom: 0.125rem solid $color-gray-light;
    color: $color-green-light;
    font-family: $font-serif;
    margin-bottom: $site-margins-mobile;
    padding-bottom: $site-margins-mobile;
  }
}
