---
layout: page
title: Determine Your Moving Allowance
---

<p>Enter your rank, dependancy status, and move type to determine your moving allowance. If additional questions arise, your <a href="#TODO">Transportation Office (TO)</a> can provide further information and generally is the best place to get help related to your move.</p>
<p class="usa-text-small"><b>Note:</b> This tool is based on the <a href="http://www.defensetravel.dod.mil/Docs/perdiem/JTR.pdf" class="usa-external_link">Joint Travel Regulation (JTR)</a> which is the entitlements authority for all service members. Any differences between this tool and the <a href="http://www.defensetravel.dod.mil/Docs/perdiem/JTR.pdf" class="usa-external_link">Joint Travel Regulation (JTR)</a> will be resolved by the JTR. Additionally, each branch of service may also have supplemental regulations to the JTR.</p>

<section class="usa-section" id="moving-allowances-container">
  <h2>Your Moving Allowance</h2>

  <p>Moving allowances are generally based on the overall weight of your household goods. Any overages on your approved weight will be your financial responsibility, so work hard to make sure you stay within your weight allowance.</p>

  {% for pay_grade in site.data.pay_grades %}
    <table class="moving-allowances-table usa-table-borderless" data-pay-grade="{{ pay_grade.rank }}">
      <caption>Allowances for {{ pay_grade.rank }}</caption>
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Allowance</th>
          <th scope="col">Useful Things to Know</th>
        </tr>
      </thead>
      {% for category in site.data.moving_allowance_categories %}
        <tbody>
          <tr>
            <th colspan="3" scope="col"><b>{{ category.title }}</b></th>
          </tr>
          {% for subcategory in category.categories %}
            {% if subcategory.allowance %}
              <tr>
                <th scope="row">{{ subcategory.title }}</th>
                <td><b>{{ subcategory.allowance }}</b></td>
                <td><a href="#{{ subcategory.id }}">View details</a></td>
              </tr>
            {% elsif subcategory.allowance_key %}
              {% assign allowances_self = pay_grade.allowances[subcategory.allowance_key].self %}
              {% assign allowances_self_plus_depedendents = pay_grade.allowances[subcategory.allowance_key].self_plus_dependents %}

              {% if allowances_self %}
                <tr data-allowance-type="self">
                  <th scope="row">{{ subcategory.title }}</th>
                  <td><b>{{ allowances_self }}</b></td>
                  <td><a href="#{{ subcategory.id }}">View details</a></td>
                </tr>
              {% endif %}

              {% if allowances_self_plus_depedendents %}
                <tr data-allowance-type="self-plus-dependents">
                  <th scope="row">{{ subcategory.title }} <i>(with dependents)</i></th>
                  <td><b>{{ allowances_self_plus_depedendents }}</b></td>
                  <td><a href="#{{ subcategory.id }}">View details</a></td>
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
      {% endfor %}
    </table>
  {% endfor %}
</section>

<section class="usa-section">
  <h2>Useful Things to Know</h2>

  {% for category in site.data.moving_allowance_categories %}
    <h3>{{ category.title }}</h3>

    {% for subcategory in category.categories %}
      <div id="{{ subcategory.id }}">
        <h4>{{ subcategory.title }}</h4>

        {% if subcategory.details.conus or subcategory.details.oconus %}
          {% if subcategory.details.conus %}
            <div class="conus-details">
              <h5><abbr title="Continental United States">CONUS</abbr> Moves Only</h5>

              {{ subcategory.details.conus }}
            </div>
          {% endif %}

          {% if subcategory.details.oconus %}
            <div class="oconus-details">
              <h5><abbr title="Outside Continental United States">OCONUS</abbr> Moves Only</h5>

              {{ subcategory.details.oconus }}
            </div>
          {% endif %}
        {% else %}
          {{ subcategory.details }}
        {% endif %}

        <a href="#top">Return to top</a>
      </div>
    {% endfor %}
  {% endfor %}
</section>
