<article class="location-search-result">
  <header class="weightscale-result">
    <%= image_tag 'locator/texticon_scales.svg', alt: 'Weight Scales' %>
    <strong>Penske Weight Scale</strong> <em>(1.2 miles away)</em>
  </header>
  <section>
    <div class="location-search-result-info">
      <div class="location-search-result-address">
        <strong>Location:</strong><br>
        Henderson Hall HQMC<br>
        155 South Gate Rd, Bldg 29, Rm 302<br>
        Arlington, VA 22214
      </div>
      <div class="location-search-result-contact">
        <strong>Phone:</strong><br>
        (703) - 614-7190/7191<br>
        <br>
        <strong>Website:</strong><br>
        <%= link_to 'penske.com', 'http://penske.com' %>
      </div>
    </div>
    <div class="location-search-result-hours">
      <strong>Hours:</strong>
      <table>
        <tbody>
          <tr>
            <td>Monday-Friday</td>
            <td>0730 - 1630</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Closed</td>
          </tr>
          <tr>
            <td>Federal Holidays</td>
            <td>Closed</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</article>
