files:
  "/etc/nginx/mime.types":
    mode: "000644"
    owner: root
    group: root
    content: |
      types {

        # Data interchange

          application/atom+xml                  atom;
          application/json                      json map topojson;
          application/ld+json                   jsonld;
          application/rss+xml                   rss;
          application/vnd.geo+json              geojson;
          application/xml                       rdf xml;

        # JavaScript

          # Normalize to standard type.
          # https://tools.ietf.org/html/rfc4329#section-7.2
          application/javascript                js;

        # Manifest files

          application/manifest+json             webmanifest;
          application/x-web-app-manifest+json   webapp;
          text/cache-manifest                   appcache;

        # Media files

          audio/midi                            mid midi kar;
          audio/mp4                             aac f4a f4b m4a;
          audio/mpeg                            mp3;
          audio/ogg                             oga ogg opus;
          audio/x-realaudio                     ra;
          audio/x-wav                           wav;
          image/bmp                             bmp;
          image/gif                             gif;
          image/jpeg                            jpeg jpg;
          image/jxr                             jxr hdp wdp;
          image/png                             png;
          image/svg+xml                         svg svgz;
          image/tiff                            tif tiff;
          image/vnd.wap.wbmp                    wbmp;
          image/webp                            webp;
          image/x-jng                           jng;
          video/3gpp                            3gp 3gpp;
          video/mp4                             f4p f4v m4v mp4;
          video/mpeg                            mpeg mpg;
          video/ogg                             ogv;
          video/quicktime                       mov;
          video/webm                            webm;
          video/x-flv                           flv;
          video/x-mng                           mng;
          video/x-ms-asf                        asf asx;
          video/x-ms-wmv                        wmv;
          video/x-msvideo                       avi;

          # Serving `.ico` image files with a different media type
          # prevents Internet Explorer from displaying then as images:
          # https://github.com/h5bp/html5-boilerplate/commit/37b5fec090d00f38de64b591bcddcb205aadf8ee

          image/x-icon                          cur ico;

        # Microsoft Office

          application/msword                                                         doc;
          application/vnd.ms-excel                                                   xls;
          application/vnd.ms-powerpoint                                              ppt;
          application/vnd.openxmlformats-officedocument.wordprocessingml.document    docx;
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet          xlsx;
          application/vnd.openxmlformats-officedocument.presentationml.presentation  pptx;

        # Web fonts

          application/font-woff                 woff;
          application/font-woff2                woff2;
          application/vnd.ms-fontobject         eot;

          # Browsers usually ignore the font media types and simply sniff
          # the bytes to figure out the font type.
          # https://mimesniff.spec.whatwg.org/#matching-a-font-type-pattern
          #
          # However, Blink and WebKit based browsers will show a warning
          # in the console if the following font types are served with any
          # other media types.

          application/x-font-ttf                ttc ttf;
          font/opentype                         otf;

        # Other

          application/java-archive              ear jar war;
          application/mac-binhex40              hqx;
          application/octet-stream              bin deb dll dmg exe img iso msi msm msp safariextz;
          application/pdf                       pdf;
          application/postscript                ai eps ps;
          application/rtf                       rtf;
          application/vnd.google-earth.kml+xml  kml;
          application/vnd.google-earth.kmz      kmz;
          application/vnd.wap.wmlc              wmlc;
          application/x-7z-compressed           7z;
          application/x-bb-appworld             bbaw;
          application/x-bittorrent              torrent;
          application/x-chrome-extension        crx;
          application/x-cocoa                   cco;
          application/x-java-archive-diff       jardiff;
          application/x-java-jnlp-file          jnlp;
          application/x-makeself                run;
          application/x-opera-extension         oex;
          application/x-perl                    pl pm;
          application/x-pilot                   pdb prc;
          application/x-rar-compressed          rar;
          application/x-redhat-package-manager  rpm;
          application/x-sea                     sea;
          application/x-shockwave-flash         swf;
          application/x-stuffit                 sit;
          application/x-tcl                     tcl tk;
          application/x-x509-ca-cert            crt der pem;
          application/x-xpinstall               xpi;
          application/xhtml+xml                 xhtml;
          application/xslt+xml                  xsl;
          application/zip                       zip;
          text/css                              css;
          text/csv                              csv;
          text/html                             htm html shtml;
          text/markdown                         md;
          text/mathml                           mml;
          text/plain                            txt;
          text/vcard                            vcard vcf;
          text/vnd.rim.location.xloc            xloc;
          text/vnd.sun.j2me.app-descriptor      jad;
          text/vnd.wap.wml                      wml;
          text/vtt                              vtt;
          text/x-component                      htc;

      }

  "/etc/nginx/nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Configuration File - Nginx Server Configs
      # http://nginx.org/en/docs/dirindex.html

      # Run as a unique, less privileged user for security reasons.
      # Default: nobody nobody
      user nginx;

      # Sets the worker threads to the number of CPU cores available in the system for best performance.
      # Should be > the number of CPU cores.
      # Maximum number of connections = worker_processes * worker_connections
      # Default: 1
      worker_processes auto;

      # Maximum number of open files per worker process.
      # Should be > worker_connections.
      # Default: no limit
      worker_rlimit_nofile 8192;

      events {
        # If you need more connections than this, you start optimizing your OS.
        # That's probably the point at which you hire people who are smarter than you as this is *a lot* of requests.
        # Should be < worker_rlimit_nofile.
        # Default: 512
        worker_connections 8000;
      }

      # Log errors and warnings to this file
      # This is only used when you don't override it on a server{} level
      # Default: logs/error.log error
      error_log  /var/log/nginx/error.log warn;

      # The file storing the process ID of the main process
      # Default: nginx.pid
      pid        /var/run/nginx.pid;

      http {
        # Hide nginx version information.
        # Default: on
        server_tokens off;

        # Specify MIME types for files.
        include       mime.types;

        # Default: text/plain
        default_type  application/octet-stream;

        # Update charset_types to match updated mime.types.
        # text/html is always included by charset module.
        # Default: text/html text/xml text/plain text/vnd.wap.wml application/javascript application/rss+xml
        charset_types
          text/css
          text/plain
          text/vnd.wap.wml
          application/javascript
          application/json
          application/rss+xml
          application/xml;

        # Include $http_x_forwarded_for within default format used in log files
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_x_forwarded_for"';

        log_format  healthd '$msec"$uri"'
                            '$status"$request_time"$upstream_response_time"'
                            '$http_x_forwarded_for';

        # Log access to this file
        # This is only used when you don't override it on a server{} level
        # Default: logs/access.log combined
        access_log /var/log/nginx/access.log main;

        # How long to allow each connection to stay idle.
        # Longer values are better for each individual client, particularly for SSL,
        # but means that worker connections are tied up longer.
        # Default: 75s
        keepalive_timeout 20s;

        # Speed up file transfers by using sendfile() to copy directly
        # between descriptors rather than using read()/write().
        # For performance reasons, on FreeBSD systems w/ ZFS
        # this option should be disabled as ZFS's ARC caches
        # frequently used files in RAM by default.
        # Default: off
        sendfile        on;

        # Don't send out partial frames; this increases throughput
        # since TCP frames are filled up before being sent out.
        # Default: off
        tcp_nopush      on;

        # Enable gzip compression.
        # Default: off
        gzip on;

        # Compression level (1-9).
        # 5 is a perfect compromise between size and CPU usage, offering about
        # 75% reduction for most ASCII files (almost identical to level 9).
        # Default: 1
        gzip_comp_level    5;

        # Don't compress anything that's already small and unlikely to shrink much
        # if at all (the default is 20 bytes, which is bad as that usually leads to
        # larger files after gzipping).
        # Default: 20
        gzip_min_length    256;

        # Compress data even for clients that are connecting to us via proxies,
        # identified by the "Via" header (required for CloudFront).
        # Default: off
        gzip_proxied       any;

        # Tell proxies to cache both the gzipped and regular version of a resource
        # whenever the client's Accept-Encoding capabilities header varies;
        # Avoids the issue where a non-gzip capable client (which is extremely rare
        # today) would display gibberish if their proxy gave them the gzipped version.
        # Default: off
        gzip_vary          on;

        # Compress all output labeled with one of the following MIME-types.
        # text/html is always compressed by gzip module.
        # Default: text/html
        gzip_types
          application/atom+xml
          application/javascript
          application/json
          application/ld+json
          application/manifest+json
          application/rss+xml
          application/vnd.geo+json
          application/vnd.ms-fontobject
          application/x-font-ttf
          application/x-web-app-manifest+json
          application/xhtml+xml
          application/xml
          font/opentype
          image/bmp
          image/svg+xml
          image/x-icon
          text/cache-manifest
          text/css
          text/plain
          text/vcard
          text/vnd.rim.location.xloc
          text/vtt
          text/x-component
          text/x-cross-domain-policy;

        # This should be turned on if you are going to have pre-compressed copies (.gz) of
        # static files available. If not it should be left off as it will cause extra I/O
        # for the check. It is best if you enable this in a location{} block for
        # a specific directory, or on an individual server{} level.
        # gzip_static on;

        types_hash_max_size 2048;

        map_hash_bucket_size 128;

        include /etc/nginx/conf.d/*.conf;
      }

  "/etc/nginx/conf.d/move-mil.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream move-mil-rails {
        server unix:///var/run/puma/my_app.sock;
      }

      server {
        listen [::]:80 deferred;
        listen 80 deferred;

        server_name _ localhost;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log /var/log/nginx/access.log main;
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

        root /var/app/current/public;

        charset utf-8;

        # MIME type sniffing security protection
        #	There are very few edge cases where you wouldn't want this enabled.
        add_header X-Content-Type-Options nosniff always;

        # HSTS (HTTP Strict Transport Security)
        # This header tells browsers to cache the certificate for one year and to connect exclusively via HTTPS.
        add_header Strict-Transport-Security "max-age=31556952" always;

        if ($redirect_uri) {
          return 301 https://$redirect_uri;
        }

        location @move-mil-rails {
          proxy_pass http://move-mil-rails;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location / {
          if ($http_x_forwarded_proto != 'https') {
            return 301 https://$host$request_uri;
          }

          location ~* \.(?:json|xml)$ {
            access_log off;

            try_files $uri @move-mil-rails;
          }

          location ~* \.(?:ico|txt)$ {
            access_log off;

            add_header Cache-Control "no-cache, no-store, must-revalidate";
          }

          location /assets/ {
            access_log off;

            add_header Cache-Control "max-age=31536000";
          }

          location /documents/ {
            access_log off;

            add_header Cache-Control "no-cache, no-store, must-revalidate";
          }

          try_files $uri @move-mil-rails;

          error_page 404 = /404.html;
          error_page 422 = /422.html;
          error_page 500 = /500.html;
        }

        location = /health_check {
          try_files $uri @move-mil-rails;
        }

        # Prevent clients from accessing hidden files (starting with a dot)
        # Access to `/.well-known/` is allowed.
        location ~* /\.(?!well-known\/) {
          deny all;
        }

        # Prevent clients from accessing to backup/config/source files
        location ~* (?:\.(?:bak|conf|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$ {
          deny all;
        }
      }

  "/etc/nginx/conf.d/redirects.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      map $request_uri $redirect_uri {
        /common/contact_help/dps_eta_and_move_mil_help.cfm  $host/customer-service;
        /common/dps_login_registration_process/dps_registration.cfm  archive.move.mil/common/dps_login_registration_process/dps_registration.cfm;
        /common/dps_login_registration_process/new_password.cfm  archive.move.mil/common/dps_login_registration_process/new_password.cfm;
        /common/dps_login_registration_process/system_requirements.cfm  archive.move.mil/common/dps_login_registration_process/system_requirements.cfm;
        /common/faq/faq.cfm  archive.move.mil/common/faq/faq.cfm;
        /common/locator_maps/scale.cfm  $host/resources/locator-maps;
        /common/locator_maps/trans_offices_pjf.cfm  $host/resources/locator-maps;
        /common/locator_maps/transportation_offices.cfm  $host/resources/locator-maps;
        /common/what_is_dps/what_is_dps.cfm  archive.move.mil/common/what_is_dps/what_is_dps.cfm;
        /dod/accessing_dps/accessing_dps.cfm  archive.move.mil/dod/accessing_dps/accessing_dps.cfm;
        /dod/before_you_begin/dps_how_to_guides.cfm  $host/tutorials;
        /dod/before_you_begin/prepare_for_your_move.cfm  $host/moving-guide;
        /dod/before_you_begin/retirement_and_separation.cfm  $host/moving-guide/retirees-separatees;
        /dod/before_you_begin/weight_allowance.cfm  $host/entitlements;
        /dod/before_you_begin/privately_owned_vehicles.cfm  $host/entitlements#privately-owned-vehicle;
        /dod/claims_css/css.cfm  archive.move.mil/dod/claims_css/css.cfm;
        /dod/claims_css/dod_claims.cfm  $host/moving-guide/claims;
        /dod/faq.cfm  $host/faqs;
        /dod/first_time_users/browser_compatibility.cfm  archive.move.mil/dod/first_time_users/browser_compatibility.cfm;
        /dod/first_time_users/obtain_user_pass.cfm  archive.move.mil/dod/first_time_users/obtain_user_pass.cfm;
        /dod/first_time_users/validate_branch_of_service.cfm  archive.move.mil/dod/first_time_users/validate_branch_of_service.cfm;
        /dod/moving_resources/housing.cfm  archive.move.mil/dod/moving_resources/housing.cfm;
        /dod/start_your_move/inbound_shipments.cfm  archive.move.mil/dod/start_your_move/inbound_shipments.cfm;
        /dod/start_your_move/personally_procurred_move.cfm  archive.move.mil/dod/start_your_move/personally_procurred_move.cfm;
        /dod/start_your_move/transportation_office.cfm  $host/resources/locator-maps;
        /dod/travel_information/uso_locations.cfm  archive.move.mil/dod/travel_information/uso_locations.cfm;
        /home.htm  $host/;
        /index.cfm  $host/;
        /index.htm  $host/;
        /index.html  $host/;
        /ppso/ppso_resources/dps_login_solution.cfm  archive.move.mil/ppso/ppso_resources/dps_login_solution.cfm;
      }

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_remove_default_nginx_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      find /etc/nginx/conf.d/ -name '*.conf' -not -name move-mil.conf -not -name redirects.conf -delete

      rm -rf /etc/nginx/extras

      service nginx reload

      rm -- "$0"
