files:
  "/etc/nginx/mime.types":
    mode: "000644"
    owner: root
    group: root
    content: |
      types {

        # Data interchange

          application/atom+xml                  atom;
          application/json                      json map topojson;
          application/ld+json                   jsonld;
          application/rss+xml                   rss;
          application/vnd.geo+json              geojson;
          application/xml                       rdf xml;

        # JavaScript

          # Normalize to standard type.
          # https://tools.ietf.org/html/rfc4329#section-7.2
          application/javascript                js;

        # Manifest files

          application/manifest+json             webmanifest;
          application/x-web-app-manifest+json   webapp;
          text/cache-manifest                   appcache;

        # Media files

          audio/midi                            mid midi kar;
          audio/mp4                             aac f4a f4b m4a;
          audio/mpeg                            mp3;
          audio/ogg                             oga ogg opus;
          audio/x-realaudio                     ra;
          audio/x-wav                           wav;
          image/bmp                             bmp;
          image/gif                             gif;
          image/jpeg                            jpeg jpg;
          image/jxr                             jxr hdp wdp;
          image/png                             png;
          image/svg+xml                         svg svgz;
          image/tiff                            tif tiff;
          image/vnd.wap.wbmp                    wbmp;
          image/webp                            webp;
          image/x-jng                           jng;
          video/3gpp                            3gp 3gpp;
          video/mp4                             f4p f4v m4v mp4;
          video/mpeg                            mpeg mpg;
          video/ogg                             ogv;
          video/quicktime                       mov;
          video/webm                            webm;
          video/x-flv                           flv;
          video/x-mng                           mng;
          video/x-ms-asf                        asf asx;
          video/x-ms-wmv                        wmv;
          video/x-msvideo                       avi;

          # Serving `.ico` image files with a different media type
          # prevents Internet Explorer from displaying then as images:
          # https://github.com/h5bp/html5-boilerplate/commit/37b5fec090d00f38de64b591bcddcb205aadf8ee

          image/x-icon                          cur ico;

        # Microsoft Office

          application/msword                                                         doc;
          application/vnd.ms-excel                                                   xls;
          application/vnd.ms-powerpoint                                              ppt;
          application/vnd.openxmlformats-officedocument.wordprocessingml.document    docx;
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet          xlsx;
          application/vnd.openxmlformats-officedocument.presentationml.presentation  pptx;

        # Web fonts

          application/font-woff                 woff;
          application/font-woff2                woff2;
          application/vnd.ms-fontobject         eot;

          # Browsers usually ignore the font media types and simply sniff
          # the bytes to figure out the font type.
          # https://mimesniff.spec.whatwg.org/#matching-a-font-type-pattern
          #
          # However, Blink and WebKit based browsers will show a warning
          # in the console if the following font types are served with any
          # other media types.

          application/x-font-ttf                ttc ttf;
          font/opentype                         otf;

        # Other

          application/java-archive              ear jar war;
          application/mac-binhex40              hqx;
          application/octet-stream              bin deb dll dmg exe img iso msi msm msp safariextz;
          application/pdf                       pdf;
          application/postscript                ai eps ps;
          application/rtf                       rtf;
          application/vnd.google-earth.kml+xml  kml;
          application/vnd.google-earth.kmz      kmz;
          application/vnd.wap.wmlc              wmlc;
          application/x-7z-compressed           7z;
          application/x-bb-appworld             bbaw;
          application/x-bittorrent              torrent;
          application/x-chrome-extension        crx;
          application/x-cocoa                   cco;
          application/x-java-archive-diff       jardiff;
          application/x-java-jnlp-file          jnlp;
          application/x-makeself                run;
          application/x-opera-extension         oex;
          application/x-perl                    pl pm;
          application/x-pilot                   pdb prc;
          application/x-rar-compressed          rar;
          application/x-redhat-package-manager  rpm;
          application/x-sea                     sea;
          application/x-shockwave-flash         swf;
          application/x-stuffit                 sit;
          application/x-tcl                     tcl tk;
          application/x-x509-ca-cert            crt der pem;
          application/x-xpinstall               xpi;
          application/xhtml+xml                 xhtml;
          application/xslt+xml                  xsl;
          application/zip                       zip;
          text/css                              css;
          text/csv                              csv;
          text/html                             htm html shtml;
          text/markdown                         md;
          text/mathml                           mml;
          text/plain                            txt;
          text/vcard                            vcard vcf;
          text/vnd.rim.location.xloc            xloc;
          text/vnd.sun.j2me.app-descriptor      jad;
          text/vnd.wap.wml                      wml;
          text/vtt                              vtt;
          text/x-component                      htc;

      }

  "/etc/nginx/conf.d/00_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Hide nginx version information.
      # Default: on
      server_tokens off;

      # Update charset_types to match updated mime.types.
      # text/html is always included by charset module.
      # Default: text/html text/xml text/plain text/vnd.wap.wml application/javascript application/rss+xml
      charset_types
        text/css
        text/plain
        text/vnd.wap.wml
        application/javascript
        application/json
        application/rss+xml
        application/xml;

      # Enable gzip compression.
      # Default: off
      gzip on;

      # Compression level (1-9).
      # 5 is a perfect compromise between size and CPU usage, offering about
      # 75% reduction for most ASCII files (almost identical to level 9).
      # Default: 1
      gzip_comp_level    5;

      # Don't compress anything that's already small and unlikely to shrink much
      # if at all (the default is 20 bytes, which is bad as that usually leads to
      # larger files after gzipping).
      # Default: 20
      gzip_min_length    256;

      # Compress data even for clients that are connecting to us via proxies,
      # identified by the "Via" header (required for CloudFront).
      # Default: off
      gzip_proxied       any;

      # Tell proxies to cache both the gzipped and regular version of a resource
      # whenever the client's Accept-Encoding capabilities header varies;
      # Avoids the issue where a non-gzip capable client (which is extremely rare
      # today) would display gibberish if their proxy gave them the gzipped version.
      # Default: off
      gzip_vary          on;

      # Compress all output labeled with one of the following MIME-types.
      # text/html is always compressed by gzip module.
      # Default: text/html
      gzip_types
        application/atom+xml
        application/javascript
        application/json
        application/ld+json
        application/manifest+json
        application/rss+xml
        application/vnd.geo+json
        application/vnd.ms-fontobject
        application/x-font-ttf
        application/x-web-app-manifest+json
        application/xhtml+xml
        application/xml
        font/opentype
        image/bmp
        image/svg+xml
        image/x-icon
        text/cache-manifest
        text/css
        text/plain
        text/vcard
        text/vnd.rim.location.xloc
        text/vtt
        text/x-component
        text/x-cross-domain-policy;

  "/etc/nginx/conf.d/01_move-mil.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream move-mil-rails {
        server unix:///var/run/puma/my_app.sock;
      }

      log_format healthd '$msec"$uri"'
                         '$status"$request_time"$upstream_response_time"'
                         '$http_x_forwarded_for';

      server {
        listen 80;

        server_name _ localhost;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log /var/log/nginx/access.log main;
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

        include /etc/nginx/extras/directive-only/extra-security.conf;
        include /etc/nginx/extras/directive-only/x-ua-compatible.conf;
        include /etc/nginx/extras/location/expires.conf;
        include /etc/nginx/extras/location/protect-system-files.conf;

        root /var/app/current/public;

        charset utf-8;

        location @move-mil-rails {
          proxy_pass http://move-mil-rails;
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location / {
          try_files $uri @move-mil-rails;
        }
      }

  "/etc/nginx/extras/directive-only/extra-security.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # The X-Frame-Options header indicates whether a browser should be allowed
      # to render a page within a frame or iframe.
      add_header X-Frame-Options SAMEORIGIN always;

      # MIME type sniffing security protection
      #	There are very few edge cases where you wouldn't want this enabled.
      add_header X-Content-Type-Options nosniff always;

      # The X-XSS-Protection header is used by Internet Explorer version 8+
      # The header instructs IE to enable its inbuilt anti-cross-site scripting filter.
      add_header X-XSS-Protection "1; mode=block" always;

      # with Content Security Policy (CSP) enabled (and a browser that supports it (http://caniuse.com/#feat=contentsecuritypolicy),
      # you can tell the browser that it can only download content from the domains you explicitly allow
      # CSP can be quite difficult to configure, and cause real issues if you get it wrong
      # There is website that helps you generate a policy here http://cspisawesome.com/
      add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://dap.digitalgov.gov https://www.google-analytics.com; img-src 'self' data: https://www.google-analytics.com *.tile.openstreetmap.org; frame-ancestors 'none';" always;

  "/etc/nginx/extras/directive-only/x-ua-compatible.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Force the latest IE version
      add_header X-UA-Compatible "IE=Edge";

  "/etc/nginx/extras/location/expires.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Expire rules for static content

      # No default expire rule. This config mirrors that of apache as outlined in the
      # html5-boilerplate .htaccess file. However, nginx applies rules by location,
      # the apache rules are defined by type. A consequence of this difference is that
      # if you use no file extension in the url and serve html, with apache you get an
      # expire time of 0s, with nginx you'd get an expire header of one month in the
      # future (if the default expire rule is 1 month). Therefore, do not use a
      # default expire rule with nginx unless your site is completely static

      # cache.appcache, your document html and data
      location ~* \.(?:manifest|appcache|html?|xml|json)$ {
        add_header Cache-Control "max-age=0";
      }

      # Feed
      location ~* \.(?:rss|atom)$ {
        add_header Cache-Control "max-age=3600";
      }

      # Media: images, icons, video, audio, HTC
      location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|webp|mp4|ogg|ogv|webm|htc)$ {
        access_log off;
        add_header Cache-Control "max-age=2592000";
      }

      # Media: svgz files are already compressed.
      location ~* \.svgz$ {
        access_log off;
        gzip off;
        add_header Cache-Control "max-age=2592000";
      }

      # CSS and Javascript
      location ~* \.(?:css|js)$ {
        add_header Cache-Control "max-age=31536000";
        access_log off;
      }

  "/etc/nginx/extras/location/protect-system-files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Prevent clients from accessing hidden files (starting with a dot)
      # This is particularly important if you store .htpasswd files in the site hierarchy
      # Access to `/.well-known/` is allowed.
      # https://www.mnot.net/blog/2010/04/07/well-known
      # https://tools.ietf.org/html/rfc5785
      location ~* /\.(?!well-known\/) {
        deny all;
      }

      # Prevent clients from accessing to backup/config/source files
      location ~* (?:\.(?:bak|conf|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$ {
        deny all;
      }

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_remove_default_nginx_configuration.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      rm -f /etc/nginx/conf.d/virtual.conf /etc/nginx/conf.d/webapp_healthd.conf

      service nginx reload

      rm -- "$0"
