files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_rails_db_setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      . $(/opt/elasticbeanstalk/bin/get-config container -k support_dir)/envvars
      . $(/opt/elasticbeanstalk/bin/get-config container -k script_dir)/use-app-ruby.sh

      cd $(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      if [ "$EB_ENVIRONMENT" != "move-mil-prod" ]
      then
        su -s /bin/bash -c 'DISABLE_DATABASE_ENVIRONMENT_CHECK=1 bin/rails db:setup' $(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      fi

      rm -- "$0"
