---
layout: page
title: Learn How to Use DPS
---

<p>Defense Personal Property System (DPS) is an online application where service members and DOD civilians can schedule their household goods move (also known as “self-counseling”) and submit any loss or damage claims directly to their Transportation Service Provider (TSP).</p>
<p><b>Use the tutorials below for help navigating DPS.</b> If you get stuck or have any questions, you can visit your <a href="#TODO">local transporation office</a> or call the 24-hour SRC Help Desk at <a href="tel:+18004622176">1 (800) 462-2176</a>.</p>

<h2>Tutorials</h2>

<ul class="usa-accordion-bordered">
  {% for tutorial in site.data.tutorials %}
    <li>
      <button aria-controls="{{ tutorial.id }}" class="usa-accordion-button">{{ tutorial.title }}</button>
      <div class="usa-accordion-content" id="{{ tutorial.id }}">
        <div class="slideshow">
          <ol>
            {% for step in tutorial.steps %}
              <li>
                <figure class="slideshow-content">
                  {% if step.image_path %}
                    <img src="{{ step.image_path | asset_path }}" alt="">
                  {% endif %}
                  <figcaption>
                    {{ step.content }}
                  </figcaption>
                </figure>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
