<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>move.mil</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% asset_path application.css %}">
</head>
<body>

  <div id="top">
    <a href="#main-content">Skip to main content</a>
  </div>

  <header role="banner">
    <a href="/" rel="home">move.mil</a>
  </header>

  <main id="main-content" role="main">
    {{ content }}
  </main>

  <footer role="contentinfo">
    <a href="#top">Return to top</a>
  </footer>

</body>
</html>
