<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Move.mil{% if page.title %} – {{ page.title }}{% endif %}</title>

  <meta name="apple-mobile-web-app-title" content="Move.mil">
	<meta name="application-name" content="Move.mil">
  <meta name="theme-color" content="#d6d7d9">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="{% asset_path ustranscom-emblem-256x256.png %}">
	<link rel="shortcut icon" href="{% asset_path ustranscom-emblem-256x256.png %}">
  <link rel="stylesheet" href="{% asset_path application.css %}">
</head>
<body>

  <div id="top">
    <a href="#main-content" class="usa-skipnav">Skip to main content</a>
  </div>

  <header class="usa-header usa-header-extended" role="banner">
    <div class="usa-banner">
      <div class="usa-accordion">
        <div class="usa-banner-header">
          <div class="usa-grid usa-banner-inner">
            <img src="{% asset_path uswds/favicons/favicon-57.png %}" alt="U.S. flag">
            <p>An official website of the United States government</p>
            <button aria-controls="gov-banner" aria-expanded="false" class="usa-accordion-button usa-banner-button">
              <span class="usa-banner-button-text">Here’s how you know</span>
            </button>
          </div>
        </div>

        <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
          <div class="usa-banner-guidance-gov">
            <img src="{% asset_path uswds/icon-dot-gov.svg %}" alt="Dot gov" class="usa-banner-icon usa-media_block-img">
            <div class="usa-media_block-body">
              <p>
                <strong>The .mil means it’s official.</strong>
                <br>
                Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>

      <div class="usa-logo usa-media_block" id="logo">
        <a href="http://www.ustranscom.mil" class="usa-media_block-img">
          <img src="{% asset_path emblems/ustranscom.svg %}" alt="United States Transportation Command emblem">
        </a>
        <div class="usa-media_block-body">
          <em class="usa-logo-text">
            <a href="/" aria-label="Home" rel="home" title="Home">
              Move.mil
              <br>
              <span>Official <abbr title="Department of Defense">DOD</abbr> Moving Portal</span>
            </a>
          </em>
        </div>
      </div>
    </div>

    <nav class="usa-nav" role="navigation">
      <div class="usa-nav-inner">
        <button class="usa-nav-close">
          <img src="{% asset_path uswds/close.svg %}" alt="Close">
        </button>

        <ul class="usa-nav-primary usa-accordion">
          <li>
            <button aria-controls="nav-section-one" aria-expanded="false" class="usa-accordion-button usa-nav-link">
              <span>For Service Members</span>
            </button>

            <ul class="usa-nav-submenu" id="nav-section-one">
              {% for nav in site.data.navigation %}
                <li>
                  <a href="{{ nav.url }}">{{ nav.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="http://www.move.mil/ppso/ppso_resources/dps_login_solution.cfm" class="usa-nav-link">
              <span>For <abbr title="Personal Property Shipping Office">PPSO</abbr> Offices</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="usa-overlay"></div>

  <main id="main-content" role="main">
    {{ content }}
  </main>

  <footer class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
      <a href="#top">Return to top</a>
    </div>

    <div class="usa-footer-primary-section">
      <div class="usa-grid">
        <nav class="usa-footer-nav">
          <ul class="usa-unstyled-list">
            <li class="usa-width-one-third usa-footer-primary-content">
              <a href="http://www.defensetravel.dod.mil/Docs/perdiem/JTR.pdf" class="usa-footer-primary-link">Joint Travel Regulations (JTR) (PDF)</a>
            </li>
            <li class="usa-width-one-third usa-footer-primary-content">
              <a href="/resources" class="usa-footer-primary-link">Helpful Resources</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
          <a href="http://www.ustranscom.mil">
            <img src="{% asset_path emblems/ustranscom.svg %}" alt="United States Transportation Command emblem" class="usa-footer-logo-img">
            <h3 class="usa-footer-logo-heading">
              USTRANSCOM
              <br>
              <span>United States Transportation Command</span>
            </h3>
          </a>
        </div>

        <div class="usa-footer-contact-links usa-width-one-half">
          <address>
            <h3 class="usa-footer-contact-heading">24/7 <abbr title="System Response Center">SRC</abbr> Help Desk</h3>
            <p class="usa-text-small">For help using Move.mil or <abbr title="Electronic Transportation Acquisition">ETA</abbr>.</p>

            <h4>Phone</h4>
            <p class="usa-text-small">
              Toll-Free: <a href="tel:+18004622176">(800) 462-2176</a>
              <br>
              Commercial: <a href="tel:+16185899445">(618) 589-9445</a>
            </p>

            <h4>Email</h4>

            <p class="usa-text-small">
              <a href="mailto:usarmy.scott.sddc.mbx.g6-SRC-DPS-HD@mail.mil">usarmy.scott.sddc.mbx.g6-SRC-DPS-HD@mail.mil</a>
            </p>
          </address>

          <h4>Submit a ticket online</h4>
          <p class="usa-text-small"><a href="https://src.service-now.com/src/">https://src.service-now.com/src/</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    function loadJS(e,c) {
      var d=document,r=d.createElement('script'),o=d.getElementsByTagName('script')[0];
      r.src=e;r.async=true;o.parentNode.insertBefore(r,o);if(typeof c==='function')r.onload=c;return r;
    }

    if (window.addEventListener && window.JSON && document.querySelector) {
      loadJS('{% asset_path application.js %}');
    }
  </script>

</body>
</html>
