---
layout: application
---

<div class="usa-grid usa-section usa-layout-docs">
  <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
      {% for nav in site.data.navigation %}
        <li>
          <a href="{{ nav.url }}"{% if page.url contains nav.url %} class="usa-current"{% endif %}>{{ nav.title }}</a>

          {% if nav.subnav and page.url contains nav.url %}
            <ul class="usa-sidenav-sub_list">
              {% for subnav in nav.subnav %}
                <li>
                  <a href="{{ nav.url }}{{ subnav.url }}"{% if page.url contains subnav.url %} class="usa-current"{% endif %}>{{ subnav.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <div class="dps-login-section">
      <p><a href="https://eta.sddc.army.mil/ETASSOPortal/SSO/AppLogin.aspx?LoginType=portal&SSOAppID=DPS" class="usa-button">Log In to DPS</a></p>
      <p class="usa-text-small">New to <abbr title="Defense Personal Property System">DPS</abbr>? <a href="https://www.move.mil/dod/first_time_users/browser_compatibility.cfm">Create your account</a></p>
    </div>
  </aside>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1>{{ page.title }}</h1>

    {{ content }}
  </div>
</div>
