<%= render 'shared/login_banner' %>

<%= render partial: 'shared/breadcrumbs', locals: {page_title: page_title, parent_pages: parent_pages} %>

<div class="back-to-top">
  <%= link_to 'Back to top', '#top' %>
</div>

<%= render 'shared/shutdown_banner' unless current_page?(page_path('shutdown')) %>
