<div class="login-banner">
  <div class="login-banner-text">
    <%= link_to raw("Sign in to #{abbr_tag('dps')}"), 'https://eta.sddc.army.mil/ETASSOPortal/default.aspx' %> or <%= link_to 'create a new account', 'https://eta.sddc.army.mil/dpsRegister/dodCustomer.aspx' %> to schedule your move, update information, or complete the claims process.
  </div>
</div>
