<div class="login-banner">
  <div class="login-banner-text">
    <%= link_to 'Sign in to DPS', 'https://eta.sddc.army.mil/ETASSOPortal/SSO/AppLogin.aspx?LoginType=portal&amp;SSOAppID=DPS' %> or <%= link_to 'create a new account', 'https://eta.sddc.army.mil/dpsRegister/dodCustomer.aspx' %> to schedule your move, update information, or complete the claims process.
  </div>
</div>
