<div class="usa-media_block pro-tip">
  <%= image_tag 'icons/pro-tip.svg', alt: 'lightbulb icon', class: 'usa-media_block-img' %>
  <div class="usa-media_block-body">
    <%= yield %>
  </div>
</div>
