<div class="usa-grid">
  <div class="usa-alert usa-alert-warning">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Government Shutdown Notice</h3>
      <p class="usa-alert-text">
        <b>Concerned about your move?</b>
        See <%= link_to 'Moving Guidance During the Government Shutdown', page_path('shutdown') %> for more information.
      </p>
    </div>
  </div>
</div>
