<%- @page_title = 'Tutorials' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render partial: 'shared/sidenav' %>
    <%- @tutorials.each do |tutorial| -%>
      <li><%= link_to tutorial.title, '#' + tutorial.slug %></li>
    <%- end -%>
  <% end %>

  <div class="sidenav-body">

  </div>
</div>
