<%- @page_title = 'Frequently Asked Questions' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'layouts/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <%# TODO Hide the checkboxes when the screen is too narrow %>
    <fieldset class="usa-fieldset-inputs usa-sans">

      <legend class="usa-sr-only">FAQ Tags</legend>

      <ul class="usa-unstyled-list">
        <li>
          <input id="claims-checkbox" type="checkbox" name="tag-checkbox" value="claims">
          <label for="claims">Claims</label>
        </li>
        <li>
          <input id="entitlements-checkbox" type="checkbox" name="tag-checkbox" value="entitlements">
          <label for="entitlements">Entitlements</label>
        </li>
        <li>
          <input id="hhg-checkbox" type="checkbox" name="tag-checkbox" value="hhg">
          <label for="hhg">Household Goods (HHG)</label>
        </li>
        <li>
          <input id="nts-checkbox" type="checkbox" name="tag-checkbox" value="nts">
          <label for="nts">Long-term Storage (NTS)</label>
        </li>
        <li>
          <input id="tsp-checkbox" type="checkbox" name="tag-checkbox" value="tsp">
          <label for="tsp">Movers (TSPs)</label>
        </li>
        <li>
          <input id="moving-day-checkbox" type="checkbox" name="tag-checkbox" value="moving-day">
          <label for="moving-day">Moving Day</label>
        </li>
        <li>
          <input id="scheduling-checkbox" type="checkbox" name="tag-checkbox" value="scheduling">
          <label for="scheduling">Scheduling</label>
        </li>
        <li>
          <input id="delivery-checkbox" type="checkbox" name="tag-checkbox" value="delivery">
          <label for="delivery">Shipment Delivery</label>
        </li>
        <li>
          <input id="techhelp-checkbox" type="checkbox" name="tag-checkbox" value="techhelp">
          <label for="techhelp">Technical Help</label>
        </li>
      </ul>

    </fieldset>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="claims">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-claim-limit-content">
        How long do I have to file a claim?
      </button>
      <div id="faq-claim-limit-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="scheduling">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-pickup-date-content">
        Can I change my pick-up date after the pre-move survey has been done?
      </button>
      <div id="faq-pickup-date-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="scheduling">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-schedule-content">
        How do I schedule my move online?
      </button>
      <div id="faq-schedule-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="claims">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-claim-how-content">
        How do I file a claim online?
      </button>
      <div id="faq-claim-how-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="delivery,techhelp">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-address-change-content">
        How do I add or change a delivery address on a shipment?
      </button>
      <div id="faq-address-change-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="hhg,nts">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-ntsr-content">
        How long will it take to get my stuff from storage once I request it?
      </button>
      <div id="faq-ntsr-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="tsp">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-tsp-complaint-content">
        I have a problem with my TSP &mdash; whom do I call?
      </button>
      <div id="faq-tsp-complaint-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="scheduling,moving-day,delivery">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-absent-content">
        What happens if I cannot be at my house for a pickup or delivery?
      </button>
      <div id="faq-absent-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="entitlements,hhg">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-approval-content">
        How do I get approval to move an unconvential item?
      </button>
      <div id="faq-approval-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="entitlements,hhg">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-entitlement-content">
        What am I allowed to move?
      </button>
      <div id="faq-entitlement-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="moving-day">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-before-content">
        What are some things I should do before the packers arrive?
      </button>
      <div id="faq-before-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="moving-day">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-moving-day-content">
        What are some tips for packing or moving day?
      </button>
      <div id="faq-moving-day-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="delivery,hhg">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-when-content">
        When will my household goods (HHG) arrive at the destination?
      </button>
      <div id="faq-when-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="hhg">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-overlimit-content">
        What happens if I go over my weight limit?
      </button>
      <div id="faq-overlimit-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="hhg,tsp">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-overweight-content">
        My TSP told me my shipment is overweight; what are my options?
      </button>
      <div id="faq-overweight-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="techhelp">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-browser-content">
        What should I do if I can't get DPS to work in my web browser?
      </button>
      <div id="faq-browser-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="techhelp">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-eta-content">
        How do I log into DPS using ETA?
      </button>
      <div id="faq-eta-content" class="usa-accordion-content">
      </div>
    </div>

    <div class="usa-accordion-bordered" name="faq-accordion" data-categories="scheduling">
      <button class="usa-button-unstyled usa-accordion-button" aria-controls="faq-peak-season-content">
        What is peak season, and when is it?
      </button>
      <div id="faq-peak-season-content" class="usa-accordion-content">
      </div>
    </div>

  </div>
</div>

<script>

var tagcheckboxes = document.getElementsByName('tag-checkbox');
var faqAccordions = document.getElementsByName('faq-accordion');
var i;

function intersectArrays(arr1, arr2) {
  var v1, v2;
  for (var i1 = 0; i1 < arr1.length; i1++) {
    var v1 = arr1[i1];
    for (var i2 = 0; i2 < arr2.length; i2++) {
      var v2 = arr2[i2];
      if (v1 == v2) {
        return true;
      }
    }
  }
  return false;
}

var checkboxOnClick = function() {
  var categories = [];
  for (i = 0; i < tagcheckboxes.length; i++) {
    var ck = tagcheckboxes[i];
    if (ck.checked)
      categories.push(tagcheckboxes[i].value);
  }

  // if nothing is checked, show all the FAQs
  if (categories.length == 0) {
    for (i = 0; i < faqAccordions.length; i++) {
      faqAccordions[i].style.display = "";
    }
    return;
  }

  for (i = 0; i < faqAccordions.length; i++) {
    var acc = faqAccordions[i];
    var tags = acc.getAttribute("data-categories").split(",");

    if (intersectArrays(categories, tags))
      // a tag matched an enabled category, so make the accordion visible
      acc.style.display = "";
    else
      // no tags matched an enabled category, so hide the accordion
      acc.style.display = "none";
  }
}

for (i = 0; i < tagcheckboxes.length; i++) {
  tagcheckboxes[i].onclick = checkboxOnClick;
}

</script>
