<%- @page_title = 'Service-Specific Information' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'layouts/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>
    <p>Select your branch of service for additional move-related information and resources.</p>
    <div id="tabs">
      <ul>
        <li><a href="#army" id="tab-army">U.S. Army</a></li>
        <li><a href="#air-force" id="tab-air-force">U.S. Air Force</a></li>
        <li><a href="#navy" id="tab-navy">U.S. Navy</a></li>
        <li><a href="#marines" id="tab-marine-corps">U.S. Marine Corps</a></li>
        <li><a href="#coast-guard" id="tab-coast-guard">U.S. Coast Guard</a></li>
      </ul>
      <div class="usa-grid-full" id="army">
        <div class="usa-width-two-thirds">
          <article class="svc-spec-frame">
            <header>
              New Process For Claims Filing<br>
              <time>Effective July 5th, 2017</time>
            </header>
            <section>
              <p>WASHINGTON -- The Army has created a new office at Fort Knox, Kentucky, to process Soldiers' claims for personal property losses resulting from government service. The Center for Personnel Claims Support will be fully operational on July 5, and will process all claims of Soldiers and employees in the continental United States, Alaska, Hawaii and Puerto Rico.</p>
              <p>The claims are known as personnel claims, and include claims for loss or damage to household goods and privately owned vehicles during permanent change of station shipment, or while stored at government expense.</p>
              <p>Visit <a class="usa-external_link" href="http://www.JAGCNet.army.mil/Pclaims">http://www.JAGCNet.army.mil/Pclaims</a> to find more information on how to file a claim. The site also includes the trifold titled "The A,B,C's of Claims." Those who want to file a claim can also call 1-502-626-3000 or DSN 536-3000 with questions, or contact the Center for Personnel Claims Support by email at <a href="mailto:usarmy.knox.hqda-otjag.mbx.cpcs@mail.mil">usarmy.knox.hqda-otjag.mbx.cpcs@mail.mil</a>.</p>
              <p>Read the <a class="usa-external_link" href="https://www.army.mil/article/189685/army_creates_new_office_for_personnel_claims">full article</a>.</p>
            </section>
          </article>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <strong>Claims</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">DSN:</th>
                <td>536-3000</td>
              </tr>
              <tr>
                <th scope="row">Toll Free:</th>
                <td>(502) 626-3000</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:usarmy.knox.hqda-otjag.mbx.cpcs@mail.mil">usarmy.knox.hqda-otjag.mbx.cpcs@mail.mil</a></td>
              </tr>
            </tbody>
          </table>
          <strong>Supplemental Policies</strong>
          <p><a href="https://www.move.mil/news/2017%20Army%20G4%20PPM%20Policy.pdf">Army Policy for Personally Procured Moves (PPM) and NTS (Non-Temporary Storage)</a></p>
          <p><a href="https://www.move.mil/documents/dod/Army_NTS_Release_Policy_20_October_2016.pdf">Army NTS Release Policy</a></p>
        </div>
      </div>
      <div class="usa-grid-full" id="air-force">
        <div class="usa-width-two-thirds">
          <article class="svc-spec-frame">
            <header>
              PPA-HQ: How can we help?<br>
              <time>Effective July 5th, 2017</time>
            </header>
            <section>
              <p>Do you need to contact PPA, HQ? Do you have a question or concern regarding personal property or POVs? Call us. Email us. We stand ready to assist.</p>
              <p>
                Customer Service: (210) 652-3357 or DSN: 487-3357<br>
                <a href="mailto:ppahq.ppec.customerservice@us.af.mil">ppahq.ppec.customerservice@us.af.mil</a>
              </p>
              <p>
                Extensions: (210) 652-3312 or DSN: 487-3312<br>
                <a href="mailto:hqppa.ecaf-ext@us.af.mil">hqppa.ecaf-ext@us.af.mil</a>
              </p>
            </section>
          </article>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <strong>Air Force Customer Service</strong>
          <em>(Entitlements, Exceptions to Policy, General Info)</em>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">DSN:</th>
                <td>487-3357</td>
              </tr>
              <tr>
                <th scope="row">Comm:</th>
                <td>210-652-3357</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:ppahq.ppec.customerservice@us.af.mil">ppahq.ppec.customerservice@us.af.mil</a></td>
              </tr>
            </tbody>
          </table>
          <strong>Claims</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">DSN:</th>
                <td>986-8044</td>
              </tr>
              <tr>
                <th scope="row">Comm:</ht>
                <td>(937) 656-8044</td>
              </tr>
              <tr>
                <th scope="row">Toll Free:</th>
                <td>1-(877)-754-1212</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:fcsc.ja@us.af.mil">fcsc.ja@us.af.mil</a></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">DSN-Fax:</th>
                <td>986-8307</td>
              </tr>
              <tr>
                <th scope="row">Comm-Fax:</th>
                <td>(937) 656-8307</td>
              </tr>
            </tbody>
          </table>
          <strong>Retirement/Separation HHG Extensions</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">DSN:</th>
                <td>954-4200</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Ext 5997/5957/5962</td>
              </tr>
              <tr>
                <th scope="row">Comm:</th>
                <td>(210) 321-4200</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:hqppa.ecaf-ext@us.af.mil">hqppa.ecaf-ext@us.af.mil</a></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">DSN-Fax:</th>
                <td>954-4263</td>
              </tr>
              <tr>
                <th scope="row">Comm-Fax:</th>
                <td>(210) 321-4263</td>
              </tr>
            </tbody>
          </table>
          <p>Address:<br>PPA HQ/ECAF-B<br>2261 Hughes Ave, Ste 159<br>Lackland AFB, TX 78236-9857</p>
          <strong>Supplemental Policies</strong>
          <p><a class="usa-external_link" href="http://static.e-publishing.af.mil/production/1/af_a4_7/publication/afi24-501/afi24-501.pdf">AFI 24-501 Air Force Personal Property Moving and Storage</a></p>
        </div>
      </div>
      <div class="usa-grid-full" id="navy">
        <div class="usa-width-two-thirds">
          <article class="svc-spec-frame">
            <header>
              Visit NAVSUP for everything you need to know about the moving process.
            </header>
            <section>
              <p><a class="usa-external_link" href="https://www.navsup.navy.mil/public/navsup/household/">https://www.navsup.navy.mil/public/navsup/household/</a></p>
            </section>
          </article>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <strong>Navy Customer Service</strong>
          <em>(Entitlements, Exceptions to Policy, General Info)</em>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">Toll Free:</th>
                <td>(855) 444-6683</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:householdgoods@navy.mil">householdgoods@navy.mil</a></td>
              </tr>
            </tbody>
          </table>
          <%= image_tag("FB-FindUsonFacebook-online-114.png", :alt => "Find Us On Facebook") %><br>
          <strong>Claims</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">DSN:</th>
                <td>564-3310</td>
              </tr>
              <tr>
                <th scope="row">Comm:</th>
                <td>(757) 440-6315</td>
              </tr>
              <tr>
                <th scope="row">Toll Free:</th>
                <td>1-(888)-897-8217</td>
              <tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:norfolkclaims@navy.mil">norfolkclaims@navy.mil</a></td>
              </tr>
            </tbody>
          </table>
          <strong>Retirement/Separation HHG Extensions</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:nxag_n130c1@navy.mil">nxag_n130c1@navy.mil</a></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td><a href="david.maly@navy.mil">david.maly@navy.mil</a></td>
              </tr>
            </tbody>
          </table>
          <strong>Supplemental Policies</strong>
          <p><a href="https://www.move.mil/documents/dod/NAVSUP_490_Rev6.pdf">NAVSUP Pub 490</a>: Navy guidance for personal property transportation.</p>
        </div>
      </div>
      <div class="usa-grid-full" id="marines">
        <div class="usa-width-two-thirds">
          <article class="svc-spec-frame">
            <header>
              Privately Owned Vehicle (POV)<br>
              <time>Effective March 29th, 2017</time>
            </header>
            <section>
              <p>Marines conducting a PCS move to, from or between OCONUS locations may be entitled to move or store their POV. Questions regarding eligibility for shipment or storage of POVs should first be forwarded to the local PPO.</p>
              <p>When storing a POV, Marines are reminded to obtain an authorization letter from the local PPO to store their POV when shipment to an OCONUS destination is not authorized. Marines must make a drop-off appointment with the Global POV Contractor, International Auto Logistics, at <a class="usa-external_link" href="pcsmypov.com">PCSMyPOV.com</a>.</p>
              <p>Prior to turn in, customers are responsible for ensuring their vehicle does not have an unresolved Recall Notice. Vehicle Owners can verify if their vehicles have a recall notice at the following link: <a class="usa-external_link" href="https://vinrcl.safercar.gov/vin/">https://vinrcl.safercar.gov/vin/</a>. Service members can also contact their servicing Vehicle Processing Center to determine if their particular vehicle will be accepted for shipment or storage. If there is a recall on a vehicle, owners must provide documented proof of repair by a certified mechanic dealership (authorized by the manufacturer).</p>
            </section>
          </article>
          <article class="svc-spec-frame">
            <header>
              Move Date Selection<br>
              <time>Effective March 29th, 2017</time>
            </header>
            <section>
              <p> All Marines must provide Primary and Alternate move dates. There must be at least three (3) Government Business Days (GBD) between these dates.</p>
            </section>
          </article>
          <article class="svc-spec-frame">
            <header>
              Avoid Popular Moving Dates When Possible<br>
              <time>Effective March 29th, 2017</time>
            </header>
            <section>
              <p>The most popular dates for moves during the peak moving season are just prior to Memorial Day through two weeks after the Fourth of July. Performing HHG moves during this window could present challenges with scheduling and the quality  of TSP/Moving Company performance. It is recommended that Marines complete their self-counseling and submit their Primary and Alternate move dates at least 90 days in advance of their Primary move date. Pickup dates should be planned to allow for flexibility when selecting dates to vacate housing, commence travel, and perform other PCS-related events.</p>
              <p>Note that the last two days and the first two days of every month are also particularly difficult dates for pickup since most leases and rental agreements start or end during that time. Final pack and pick-up dates are not confirmed until the conclusion of the pre-move survey (either in person or telephonically) conducted by a representative of the TSP/Moving Company. If personal circumstances require a change to the agreed upon pickup date, there is a substantial risk that new requested dates may not be available.</p>
            </section>
          </article>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <strong>Marine Corps Customer Service</strong>
          <em>(Entitlements, Exceptions to Policy, General Info)</em>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">Comm:</th>
                <td>(703) 695-7765</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:usmcpersonalproperty@usmc.mil">usmcpersonalproperty@usmc.mil</a></td>
              </tr>
            </tbody>
          </table>
          <%= image_tag("FB-FindUsonFacebook-online-114.png", :alt => "Find Us On Facebook") %><br>
          <strong>Claims</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">DSN:</th>
                <td>278-9533</td>
              </tr>
              <tr>
                <th scope="row">Comm:</th>
                <td>(703) 784-9533</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:hgmc.claims@usmc.mil">hgmc.claims@usmc.mil</a></td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Comm Fax:</th>
                <td>(703) 432-2591</td>
              </tr>
            </tbody>
          </table>
          <strong>Retirement/Separation HHG Extensions</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">DSN:</th>
                <td>225-7765</td>
              </tr>
              <tr>
                <th scope="row">Comm:</th>
                <td>(703) 695-7765</td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                <th scope="row">DSN Fax:</th>
                <td>225-8160</td>
              </tr>
              <tr>
                <th scope="row">Comm Fax:</th>
                <td>(703) 695-8160</td>
              </tr>
            </tbody>
          </table>
          <p>
            Address:<br>
            Commandant of the Marine Corps<br>
            3000 Marine Corps Pentagon, Rm 2E227 (LPD-2)<br>
            Washington, DC 20350-3000
          </p>
          <strong>Supplemental Policies</strong>
          <p><a href="https://www.move.mil/documents/dod/MCO_P4600.39.pdf">Marine P4600.39</a>: Marine Corps's manual for personal property transportation.</p>
        </div>
      </div>
      <div class="usa-grid-full" id="coast-guard">
        <div class="usa-width-two-thirds">
          <article class="svc-spec-frame">
            <header>
              PPM (“Do-it-yourself”) Move Reimbursement<br>
              <time>Effective July 5th, 2017</time>
            </header>
            <section>
              <p>Please direct any questions you may have regarding your PPM to the Finance Center Customer Service Team at (757) 523-6940. Our hours of operation are 8:00 a.m. to 5:00 p.m. EST. For web inquiries, which are highly recommended, please go to our Payment Status Inquiry web page at <a class="usa-external_link" href="https://www.fincen.uscg.mil/secure/payment.htm">https://www.fincen.uscg.mil/secure/payment.htm</a>. More information regarding PPM can be located at <a class="usa-external_link" href="http://www.fincen.uscg.mil/dity.htm">http://www.fincen.uscg.mil/dity.htm</a></p>
              <p>
                Please submit PPM claim to the following mailing address:<br>
                USCG Finance Center<br>
                PO Box 4102<br>
                Chesapeake, VA 23327-4102<br>
                <a class="usa-external_link" href="http://www.fincen.uscg.mil/dity.htm">http://www.fincen.uscg.mil/dity.htm</a>
              </p>
            </section>
          </article>
          <article class="svc-spec-frame">
            <header>
              Retirement HHG Request for Extension<br>
              <time>Effective July 5th, 2017</time>
            </header>
            <section>
              <p>Retired U.S. Coast Guard members request for an extension of the time limitation for shipment of household goods (HHG) must be approved by CG-1332. A request for an extension “must” be received no earlier than 90 days prior to the expiration date of the one year time limit. Members must provide a signed copy of their orders, supporting documents, and their mailing address. The information can be emailed to YNC Otmane Karim Otmane.Karim@uscg.mil, or mailed to:</p>
              <p>
                Commandant (CG-1332)<br>
                Attn: Travel &amp; Transportation Division<br>
                United States Coast Guard<br>
                2703 Martin Luther King Jr Avenue S.E., Stop 7907<br>
                Washington, D. C. 20593-7907
              </p>
              <a class="usa-external_link" href="https://www.fincen.uscg.mil/pdf/FINCENwebsiteHOS_NTSExtensionDocument.pdf">View Documentation</a>
            </section>
          </article>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <strong>Finance Center Customer Service Team</strong>
          <em>(Entitlements, Reimbursements)</em>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">Comm:</th>
                <td>(757) 523-6940</td>
              </tr>
              <tr>
                <th scope="row">Hours:</th>
                <td>8:00am - 5:00pm Eastern Time</td>
              </tr>
            </tbody>
          </table>
          <p><a class="usa-external_link" href="http://www.fincen.uscg.mil/hhg.htm">http://www.fincen.uscg.mil/hhg.htm</a></p>
          <strong>Claims</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">Comm:</th>
                <td>(757) 523-6940</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td><a href="mailto:fin-smb-hhg@uscg.mil">fin-smb-hhg@uscg.mil</a></td>
              </tr>
            </tbody>
          </table>
          <strong>Retirement/Separation HHG Extensions</strong>
          <table class="svc-spec-links">
            <tbody>
              <tr>
                <th scope="row">Email:</tg>
                <td><a href="mailto:Otmane.Karim@uscg.mil">Otmane.Karim@uscg.mil</a></td>
              </tr>
            </tbody>
          </table>
          <p>
            Address:<br>
            Commandant (CG-1332)<br>
            Attn: Travel &amp; Transportation Division<br>
            United States Coast Guard<br>
            2703 Martin Luther King Jr Avenue S.E., Stop 7907<br>
            Washington, D. C. 20593-7907
          </p>
          <strong>Supplemental Policies</strong>
          <p><a class="usa-external_link" href="https://www.fincen.uscg.mil/dity.htm">Coast Guard Personally Procured Move (PPM) Policy</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
