<%- @page_title = 'Tutorials' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'layouts/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1>Tutorials</h1>

    <%# TODO Add page content %>
  </div>
</div>
