<%= render 'shared/login_banner' %>

<div></div>
<div class="back-to-top">
  <%= link_to 'Back to top', '#top' %>
</div>

<div class="usa-section main-section">
  <div class="404-message">

  </div>
  <div class="404-links">
  </div>
</div>
