<ul class="usa-accordion sidebar-accordion">
  <li>
    <button class="usa-accordion-button" aria-controls="customer-service">
      <h4>Customer Service Info</h4>
    </button>
    <div id="customer-service" class="usa-accordion-content">
      <%= render partial: 'customer-service', locals: {'contact': @branch.branch_of_service_contact, 'policies': [{'name': 'Marine P4600.39: Marine Corps\'s manual for personal property transportation', 'url': 'https://archive.move.mil/documents/dod/MCO_4600_39_19_AUG_2016.pdf'}]} %>
    </div>
  </li>
</ul>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <%= render partial: 'posts', object: @branch.service_specific_posts %>
  </div>

  <div class="sidebar-section usa-width-one-third">
    <h4>Customer Service Info</h4>
    <%= render partial: 'customer-service', locals: {'contact': @branch.branch_of_service_contact, 'policies': [{'name': 'Marine P4600.39: Marine Corps\'s manual for personal property transportation', 'url': 'https://archive.move.mil/documents/dod/MCO_4600_39_19_AUG_2016.pdf'}]} %>
  </div>
</div>
