<div class="svc-spec-banner">
  <%= image_tag('service_specific_information/navy-banner.jpg', alt: 'Navy banner') %>
</div>

<ul class="usa-accordion sidebar-accordion">
  <li>
    <button class="usa-accordion-button" aria-controls="customer-service">
      <h4>Customer Service Info</h4>
    </button>
    <div id="customer-service" class="usa-accordion-content">
      <%= render partial: 'customer-service', locals: {'contact': @branch.branch_of_service_contact, 'policies': [{'name': 'NAVSUP Pub 490: Navy guidance for personal property transportation', 'url': 'https://www.move.mil/documents/dod/NAVSUP_490_Rev6.pdf'}]} %>
    </div>
  </li>
</ul>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <%= render partial: 'posts', object: @branch.service_specific_posts %>

    <div class="supplemental-info">
      <strong>Special Circumstance Moves (Next of Kin, Summary Courts Officers, and Joint Military Spouses)</strong>

      <p>Navy Personnel that fall into the following categories should visit their local Personal Property Office for assistance in scheduling their upcoming move. These service members SHOULD NOT attempt to self counsel or schedule their move online in the Defense Personal Property System.</p>
      <ul>
        <li>Personal Property moving as “Next of Kin”</li>
        <li>Summary Courts Officers</li>
        <li>Joint-Military Spouse Moves (if couples are in different services, each member must create separate move applications)</li>
      </ul>

      <br>
      <strong>“Do-it-Yourself” Personally Procured Move Information:</strong>
      <p>Generally, Navy Personnel requesting an advance of up to 60% for a Personally Procured Move (PPM) must provice a copy of a vehicle rental reservation or moving company estimate to be eligible for a funds advance. The following exceptions apply:</p>
      <ul>
        <li><strong>First Time Movers and Separating Navy Personnel (in “Non-pay status”)</strong> are not eligible for an advance payment.</li>
        <li><strong>Navy Personnel relocating to locations serviced by the One-Time-Only rate</strong> program are not eligible to do a Personally Procured Move (PPM).</li>
      </ul>
    </div>
  </div>

  <div class="sidebar-section usa-width-one-third">
    <h4>Customer Service Info</h4>
    <%= render partial: 'customer-service', locals: {'contact': @branch.branch_of_service_contact, 'policies': [{'name': 'NAVSUP Pub 490', 'url': 'https://www.move.mil/documents/dod/NAVSUP_490_Rev6.pdf'}]} %>
  </div>
</div>
