<div>
  <h3>Announcements:</h3>
  <%- if posts -%>
    <div class="usa-width-two-thirds">
      <%- posts.each do |post| -%>
        <article class="post">
          <strong><%= post.title %></strong>
          <%- unless post.effective_at.nil? -%>
            <br><em><%= post.effective_at.strftime("%B #{post.effective_at.day.ordinalize}, %Y") %></em>
          <%- end -%>
          <p><%= post.content.html_safe %></p>
        </article>
      <%- end -%>
    </div>
  <%- end -%>
</div>
