<aside class="sidenav">
  <div class="sidenav-jump-to">
    Jump to:
  </div>
  <ul class="usa-sidenav-list">
    <%- branches.each do |branch| -%>
      <li><%= link_to branch.name, service_specific_information_path(id: branch.slug), class: selected == branch.slug ? 'usa-current' : nil %></li>
    <%- end -%>
  </ul>
</aside>
