.usa-grid .usa-layout-docs-main_content {
  margin-bottom: $site-margins;

  @include media($large-screen) {
    margin-bottom: 0;
  }
}

.usa-layout-docs-main_content {
  h1 {
    font-size: $h2-font-size;
  }

  h6 {
    font-size: $base-font-size;
    font-weight: $font-bold;
    text-transform: none;
  }
}

.homepage-hero {
  margin-bottom: $site-margins;

  h2 {
    @include padding(6rem null);
    background-color: $color-primary;
    color: #fff;
    font-family: $font-sans;
    font-size: $h1-font-size;
    font-weight: $font-normal;
    text-align: center;
  }
}

.conus-vs-oconus-moves {
  margin-top: $site-margins;
  padding: 0;

  h3 {
    font-family: $font-sans;
    text-align: center;
  }

  span {
    display: block;
    font-size: $h5-font-size;
    font-weight: $font-normal;
    margin-top: 1rem;
  }
}
