.dps-login-section {
  @include padding($site-margins-mobile);
  background-color: $color-gray-lightest;
}

.homepage-section {
  @include padding($site-margins null);
  border-bottom: 1px solid $color-gray-light;

  img {
    display: none;
    margin-right: $site-margins;
    width: 140px;

    @include media($medium-screen) {
      display: block;
    }
  }

  h3 {
    margin: 0;

    & + p {
      margin-top: 0.25rem;
    }
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.moving-allowances-section {
  @include margin(0 -1.5rem);
  @include padding($site-margins $site-margins-mobile);

  @include media($medium-screen) {
    &:focus {
      background-color: $color-gold-lightest;
    }
  }
}

.faq-section {
  h2 {
    font-size: $h3-font-size;
  }

  dt {
    font-size: $h3-font-size;
    font-weight: $font-bold;
  }

  dd {
    border-left: 4px solid $color-gray-lightest;
    margin-left: 0;
    padding-left: $site-margins;
  }
}
