.moving-allowances-section {
  @include margin(0 -1.5rem);
  @include padding($site-margins $site-margins-mobile);

  @include media($medium-screen) {
    &:focus {
      background-color: $color-gold-lightest;
    }
  }
}

.faq-section {
  h2 {
    font-size: $h3-font-size;
  }

  dt {
    font-size: $h3-font-size;
    font-weight: $font-bold;
  }

  dd {
    border-left: 4px solid $color-gray-lightest;
    margin-left: 0;
    padding-left: $site-margins;
  }
}
