.slideshow {
  ol {
    @include unstyled-list();
  }

  li + li {
    margin-top: $site-margins;
  }
}

.slideshow-content {
  margin: 0;

  img {
    border: 1px solid $color-gray-light;
    display: block;
  }

  p {
    font-size: $h5-font-size;
    margin: 1rem 0;
  }
}
