.faq-accordion-button,
.moving-guide-accordion-button {
  background-image: asset-url('minus-blue.png');
  background-image: asset-url('minus-blue.svg');
}

.faq-accordion-button[aria-expanded=false],
.moving-guide-accordion-button[aria-expanded=false] {
  background-image: asset-url('plus-blue.png');
  background-image: asset-url('plus-blue.svg');
}

.moving-guide-accordion-button {
  background-position: right 1.5rem center;
  padding: 1.5rem 3.5rem 1.5rem 1.5rem;

  div {
    display: table;
  }

  img {
    height: 42px;
    width: 42px;
  }

  span {
    padding-left: 1.5rem;
  }

  img,
  span {
    display: table-cell;
    vertical-align: middle;
  }
}

.helpful-links-accordion {
  margin-top: 1rem;

  .usa-accordion-button {
    background-color: $color-gray-cool-light;
    background-image: asset-url("uswds/angle-arrow-up-primary-hover.png");
    background-image: asset-url("uswds/angle-arrow-up-primary-hover.svg");
    color: $color-primary-darker;

    &:hover {
      background-color: $color-cool-blue-lighter;
      color: $color-primary-darker;
    }
  }

  .usa-accordion-button[aria-expanded=false] {
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.png");
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.svg");
  }

  .usa-accordion-content {
    background-color: $color-gray-cool-light;
    padding: 1rem 3rem 2rem 3rem;
  }
}

.usa-nav-primary .usa-accordion-button[aria-expanded=false] {
  @include media($nav-width) {
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.png");
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.svg");
  }
}
