.usa-accordion-button {
  background-image: asset-url('minus_blue.png');
  background-image: asset-url('minus_blue.svg');
}
.usa-accordion-button[aria-expanded=false] {
  background-image: asset-url('plus_blue.png');
  background-image: asset-url('plus_blue.svg');
}
