.faq-accordion-button,
.moving-guide-accordion-button,
.moving-tips-accordion-button {
  background-image: asset-url('uswds/minus-blue.png');
  background-image: asset-url('uswds/minus-blue.svg');
}

.faq-accordion-button[aria-expanded=false],
.moving-guide-accordion-button[aria-expanded=false],
.moving-tips-accordion-button[aria-expanded=false] {
  background-image: asset-url('uswds/plus-blue.png');
  background-image: asset-url('uswds/plus-blue.svg');
}

.moving-guide-accordion-button,
.moving-tips-accordion-button {
  background-position: right 1.5rem center;
  padding: 1.5rem 3.5rem 1.5rem 1.5rem;

  div {
    display: table;
  }

  span {
    display: table-cell;
    vertical-align: middle;
  }

  img {
    margin-right: 1.5rem;
  }
}

.moving-guide-accordion-button img {
  display: table-cell;
  height: 42px;
  vertical-align: middle;
  width: 42px;
}

.moving-tips-accordion-button img {
  display: none;

  @include media($medium-screen) {
    display: table-cell;
    height: 50px;
    max-width: 55px;
    width: 55px;
    vertical-align: middle;
  }
}

.sidebar-accordion {
  width: auto;

  @include media($medium-screen) {
    display: none;
  }

  .usa-accordion-button {
    background-color: #f3f7fa;
    background-image: asset-url("uswds/angle-arrow-up-primary-hover.png");
    background-image: asset-url("uswds/angle-arrow-up-primary-hover.svg");
    color: $color-primary-darker;

    &:hover {
      background-color: $color-gray-cool-light;
      color: $color-primary-darker;
    }

    h4 {
      font-family: $font-serif;
    }
  }

  .usa-accordion-button[aria-expanded=false] {
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.png");
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.svg");
  }

  .usa-accordion-content {
    background-color: #f3f7fa;
    padding: 1rem 3rem 2rem 3rem;
  }
}

.usa-nav-primary .usa-accordion-button[aria-expanded=false] {
  @include media($nav-width) {
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.png");
    background-image: asset-url("uswds/angle-arrow-down-primary-hover.svg");
  }
}
