.approvals-list {
  dt {
    font-size: $h3-font-size;
    margin-bottom: 0.75rem;
  }

  dd {
    margin: 0.25rem 0;

    + dt {
      margin-top: $site-margins;
    }
  }

  .tag {
    border-radius: $border-radius;
    display: inline-block;
    font-size: $h5-font-size;
    padding: 0.5rem 1rem;

    &::before {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  .tag-approved {
    background-color: $color-green-light;
    color: $color-white;

    &::before {
      content: "✓";
    }
  }

  .tag-unapproved {
    color: $color-gray-light;

    &::before {
      content: "𝘟";
    }
  }
}
