.article-intro {
  background-color: #f3f7fa;
  @include margin(2rem 0-$site-margins-mobile);
  @include padding($site-margins-mobile);

  @include media($medium-screen) {
    @include margin(2rem 0);
    @include padding($site-margins);
  }
}

.article-header {
  color: $color-primary-darkest;
}

.article-section {
  @include padding(2rem 0);

  & + & {
    border-top: 1px solid $color-gray-cool-light;
  }

  h4 {
    font-size: 1.8rem;
    margin-top: 0;
  }
}

.article-subsection {
  margin-top: 2rem;
}
