.boxFrame {
  border: 2px solid $color-primary-darkest;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 2em;
}

.boxFrame header {
  background: $color-primary-darkest;
  color: $color-white;
  padding: 0.5em;
  font-size: $lead-font-size;
}

.boxFrame time {
  font-size: $small-font-size;
  font-style: italic;
}

.boxFrame section {
  padding-left: 1em;
  padding-right: 1em;
}
