.carousel {
  position: relative;

  figure,
  figcaption {
    margin-top: 1rem;
  }
}

.carousel-item-content {
  font-size: $h5-font-size;
  margin: 0;

  .screenshot {
    border: 1px solid $color-gray-light;
    display: block;
  }

  .pro-tip {
    margin-top: 1rem;

    img {
      width: auto;
    }
  }
}

.step-count {
  float: right;
  font-size: $base-font-size;
}

.owl-next,
.owl-prev {
  position: absolute;
  font-size: $small-font-size;
  top: -2rem;
}

.owl-next {
  right: 0;

  &:after {
    background-image: asset-url('symbols/arrow-right.png');
    background-image: asset-url('symbols/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.7rem;
    width: 1.7rem;
    vertical-align: bottom;
  }
}

.owl-prev {
  right: 6rem;

  &:before {
    background-image: asset-url('symbols/arrow-left.png');
    background-image: asset-url('symbols/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.7rem;
    width: 1.7rem;
    vertical-align: bottom;
  }
}
