.customer-service-section {
  padding: 2rem 0;
  
  & + & {
    border-top: 1px solid $color-gray;
    padding-top: 3rem;
  }

  h4 {
    display: table;
    font-family: $font-sans;
    font-size: 1.8rem;
    margin-top: 0.5em;

    img,
    span {
      display: table-cell;
      vertical-align: middle;
    }

    span {
      padding-left: 1rem;
    }
  }

  @include media($large-screen) {
    padding-right: 4rem;

    h4 {
      display: block;

      img,
      span {
        display: block;
      }
      
      span {
        margin-top: 1.7rem;
        padding-left: 0;
      }
    }
  }

  h5 {
    font-family: $font-sans;
    font-size: $base-font-size;
    font-weight: $font-bold;
    margin-bottom: 0px;
  }

  ul {
    padding-left: 1rem;
  }

  li {
    margin-bottom: 0;
    margin-left: 2rem;
  }

  table {
    margin-bottom: 2rem;
    margin-top: 0;
    table-layout: fixed;
    width: 100%;
  }

  th {
    font-weight: normal;
    width: 6.5em;
  }

  th,
  td {
    border: 0;
    padding: 0;
    word-wrap: break-word;
  }
}

.two-column-list {
  columns: 2;
}
