.usa-footer-logo > a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.usa-footer-big-logo-heading span {
  font-family: $font-sans;
  font-size: $h5-font-size;
  font-weight: $font-normal;
}

.footer-meta-links {
  @include media($medium-screen) {
    padding-top: $spacing-medium;
    text-align: right;
  }

  ul:last-child {
    border-bottom: none;
  }

  ul li:not(.usa-footer-primary-link) {
    margin-bottom: $spacing-medium;
    padding: 0;
  }

  a {
    color: $color-primary;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding: 0;

    &:hover {
      color: $color-primary-darker;
    }
  }
}

.usa-footer-contact-links {
  dl {
    line-height: $base-line-height;
  }

  dt {
    font-family: $font-sans;
    font-size: $h5-font-size;
    font-weight: $font-bold;
    margin-bottom: 0;
  }

  dd {
    margin: 0;
  }

  dd + dt {
    margin-top: 1.5em;
  }
}

.usa-footer-contact-heading {
  font-family: $font-sans;
  font-size: $h4-font-size;
}

.usa-footer-big-logo-img {
  height: 100%;
  width: 14rem;
}
