.beta-notice {
  display: none;
  float: right;

  @include media($nav-width) {
    display: block;
  }
}

@include media($nav-width) {
  .usa-header {
    border-bottom-color: $color-gray-cool-light;

    .usa-logo {
      margin-bottom: 2rem;
    }
  }
}

.usa-header-extended .usa-logo-text {
  color: $color-primary-darkest;
  font-family: $font-sans;
  font-size: $h1-font-size;

  @include media($nav-width) {
    font-size: $title-font-size;
  }

  span {
    display: block;
    font-family: $font-serif;
    font-size: $h5-font-size;
    font-weight: $font-normal;
    line-height: 3rem;

    @include media($nav-width) {
      font-size: $h3-font-size;
      margin-top: 0.5rem;
    }
  }
}

.usa-header {
  border-bottom: none;
}
