.beta-notice {
  display: none;
  float: right;

  @include media($nav-width) {
    display: block;
  }
}

.usa-header-extended em {
  font-family: $font-serif;
  font-size: $h2-font-size;

  @include media($nav-width) {
    font-size: $title-font-size;
  }
}

.usa-logo {
  a {
    display: inline-block;
  }

  br {
    display: inline;
  }
}

.usa-logo-text span {
  display: none;
  font-family: $font-sans;
  font-size: $h2-font-size;
  font-weight: $font-normal;

  @include media($nav-width) {
    display: block;
  }
}
