.beta-notice {
  display: none;
  float: right;

  @include media($nav-width) {
    display: block;
  }
}

@include media($nav-width) {
  .usa-header {
    border-bottom-color: $color-gray-cool-light;

    .usa-logo {
      margin-bottom: 2rem;
    }
  }
}

.usa-header-extended {
  em {
    font-family: $font-sans;
    font-size: 5rem;
  }

  .usa-logo-text {
    color: $color-primary-darkest;
  }
}

.usa-logo-text span {
  display: none;
  font-family: $font-serif;
  font-size: $h3-font-size;
  font-weight: $font-normal;

  @include media($nav-width) {
    display: block;
    margin-top: 1rem;
  }
}

.usa-header {
  border-bottom: none;
}
