.usa-grid .usa-layout-docs-main_content {
  margin-bottom: $site-margins;

  @include media($large-screen) {
    margin-bottom: 0;
  }
}

.main-section {
  @include outer-container();
  @include padding(null $site-margins-mobile);

  @include media($medium-screen) {
    @include padding(null $site-margins);
  }

  max-width: $site-max-width;

  h1 {
    border-bottom: 0.25rem solid $color-primary-darker;
    color: $color-primary-darker;
    font-family: $font-sans;
    font-size: $h2-font-size;
    padding-bottom: 2.5rem;

    @include media($medium-screen) {
      font-size: $h1-font-size;
    }
  }

  h2 {
    border-bottom: 0.125rem solid $color-primary-darker;
    color: $color-primary-darker;
    font-size: $h3-font-size;
    margin-top: $site-margins;
    padding-bottom: 0.5rem;
  }

  h3, h4 {
    font-family: $font-sans;
  }

  h6 {
    font-size: $base-font-size;
    font-weight: $font-bold;
    text-transform: none;
  }
}

.usa-hero {
  background-image: url(asset_path("homepage/hero.jpg"));
  background-position: left center;
  height: 17rem;
  padding: 0;

  @include media($medium-screen) {
    height: 30rem;
  }

  @include media($nav-width) {
    height: 43rem;
  }
}

.homepage-content {
  @include media($medium-screen) {
    margin-top: 3rem;
  }
}

.back-to-top {
  float: right;
  margin-top: 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  z-index: 1000;

  .breadcrumbs + & {
    @include media($nav-width) {
      margin-top: -3.75rem;
    }
  }

  a {
    @include padding(0.75rem 1.5rem);
    background-color: $color-gold;
    border-radius: $border-radius 0 0 $border-radius;
    color: $color-base;
    display: inline-block;
    font-size: $small-font-size;
    font-weight: $font-bold;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
