.usa-grid .usa-layout-docs-main_content {
  margin-bottom: $site-margins;

  @include media($large-screen) {
    margin-bottom: 0;
  }
}

.usa-layout-docs-main_content {
  h1 {
    border-bottom: 2px solid $color-primary-darker;
    color: $color-primary;
    font-family: $font-sans;
    font-size: 3.8rem;
    font-weight: 600;
    padding-bottom: 2.8rem;
  }

  h6 {
    font-size: $base-font-size;
    font-weight: $font-bold;
    text-transform: none;
  }
}

.usa-grid > .usa-layout-docs-sidenav {
  margin-top: $site-margins;

  @include media($large-screen) {
    margin-top: 0;
  }
}

.homepage-hero {
  margin-bottom: $site-margins;
  padding: 0;

  @include media($nav-width) {
    @include padding(null $site-margins);
  }

  h2 {
    @include padding(6rem $site-margins-mobile);
    background: $color-primary url(asset_path("homepage/hero.jpg")) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
    font-family: $font-sans;
    font-weight: $font-normal;
    text-align: center;

    @include media($nav-width) {
      @include padding(6rem null);
      font-size: $h1-font-size;
    }
  }
}
