.usa-grid .usa-layout-docs-main_content {
  margin-bottom: $site-margins;

  @include media($large-screen) {
    margin-bottom: 0;
  }
}

.main-section {
  @include outer-container();
  @include padding(null $site-margins-mobile);

  @include media($medium-screen) {
    @include padding(null $site-margins);
  }

  max-width: $site-max-width;

  h1 {
    border-bottom: 0.25rem solid $color-primary-darker;
    color: $color-primary-darker;
    font-family: $font-sans;
    font-size: $h1-font-size;
    padding-bottom: $site-margins;
  }

  h2 {
    border-bottom: 0.125rem solid $color-primary-darker;
    color: $color-primary-darker;
    font-size: $h3-font-size;
    margin-top: $site-margins;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-family: $font-sans;
  }

  h6 {
    font-size: $base-font-size;
    font-weight: $font-bold;
    text-transform: none;
  }
}

.usa-hero {
  background-image: url(asset_path("homepage/desktop-hero.svg"));
  background-position: left center;
  height: 173px;

  @include media($medium-screen) {
    height: 300px;
  }

  @include media($nav-width) {
    height: 374px;
  }
}

.homepage-content {
  .helpful-links-section {
    display: none;
  }

  @include media($medium-screen) {
    margin-top: 3rem;

    .helpful-links-section {
      display: block;
    }

    .helpful-links-accordion {
      display: none;
    }
  }
}
