.login-banner {
  background-color: $color-gray-cool-light;
  color: $color-primary;
  display: none;
  padding: 1rem 0;

  @include media($nav-width) {
    display: block;
  }

  .homepage-login-banner & {
    background-color: $color-green-light;
    color: $color-white;
    display: block;

    a {
      color: $color-white;
    }

    @include media($nav-width) {
      font-size: $h3-font-size;
      padding: 2rem 0;
    }
  }
}

.login-banner-text {
  @include outer-container();
  @include padding(null $site-margins-mobile);
  font-size: $small-font-size;
  max-width: $site-max-width;
  text-align: center;

  @include media($medium-screen) {
    font-size: $base-font-size;
  }

  @include media($nav-width) {
    @include padding(null $site-margins);
    text-align: left;
  }
}
