.helpful-resources-media_block {
  @include margin($site-margins null);

  img {
    display: none;
    margin-right: $site-margins;
    width: 20rem;

    @include media($medium-screen) {
      display: block;
    }
  }

  h2 {
    font-family: $font-sans;
    font-size: $h3-font-size;
    margin: 0;
  }

  .usa-unstyled-list {
    @include media($small-screen) {
      column-count: 2;
      column-gap: 2rem;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }
}
