.moving-guide {
  .location-section {
    padding-top: 2rem;

    img {
      width: 3em;

      @include media($medium-screen) {
        margin-right: 2em;
        width: 6em
      }
    }

    h3 {
      margin: 0;

      & + p {
        margin-top: 0.25rem;
      }
    }
  }

  .usa-accordion-bordered {
    @include media($medium-screen) {
      display: none;
    }
  }

  table {
    display: none;

    @include media($medium-screen) {
      display: block;
    }
  }

  th {
    font-weight: $font-bold;
    padding: 1.5rem;
    text-align: center;
    width: 1.75rem;

    img {
      height: 60px;
      margin: 0;
      width: 100%;
    }
  }
}

.approvals {
  img {
    margin-right: 0.7rem;
    vertical-align: middle;
  }

  .move-type {
    font-size: $h3-font-size;
    margin-bottom: 0.75rem;
  }

  .tag {
    border-radius: $border-radius;
    display: inline-block;
    font-size: $h5-font-size;
    margin: 0.15rem 0;
    padding: 0.4rem 1rem;

    &::before {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  .tag-approved,
  .tag-semiapproved {
    color: $color-white;

    &::before {
      content: "✓";
    }
  }

  .tag-approved {
    background-color: $color-green-light;
  }

  .tag-semiapproved {
    background-color: $color-gold;
  }

  .tag-unapproved {
    color: $color-gray-light;

    &::before {
      content: "𝘟";
    }
  }

  & + & {
    @media screen and (max-width: $medium-screen) {
      margin-top: 2rem;
    }
  }
}
