.usa-navbar {
  @include padding(2rem 0);
  height: 10.5rem;

  @include media($nav-width) {
    @include padding(0 null);
  }
}

@include media($nav-width) {
  .usa-header-extended .usa-nav {
    border-bottom: 1px solid $color-gray-cool-light;
    border-top: none;
  }

  .usa-nav-secondary {
    top: -7rem;
  }

  .usa-header-extended .usa-nav-inner {
    margin-top: 0;
  }
}

.usa-nav-primary {
  @include margin(2.5rem null);

  @include media($nav-width) {
    margin: 0;

    .usa-nav-link {
      color: $color-primary;
      font-size: $h4-font-size;
    }
  }
}

.navbar-border {
  border-top: 5px solid $color-primary-darkest;

  @include media($nav-width) {
    border-top: 12px solid $color-primary-darkest;
  }
}

.usa-hero .usa-nav {
  @include media ($nav-width)  {
    background: rgba(255, 255, 255, 0.9);
  }
}
