.usa-navbar {
  @include padding(1rem 0);
  border-bottom-color: $color-gray-cool-light;
  height: 6rem;

  @include media($nav-width) {
    @include padding(0 null);
  }
}

@include media($nav-width) {
  .usa-header-extended .usa-nav {
    border-top: 12px solid $color-primary-darkest;
  }

  .usa-nav-secondary {
    top: -7rem;
  }
}

.usa-nav-primary {
  @include margin(2.5rem null);

  @include media($nav-width) {
    margin: 0;
  }
}
