.usa-navbar {
  @include padding(1rem 0);
  height: 6rem;

  @include media($nav-width) {
    @include padding(0 null);
  }
}

@include media($nav-width) {
  .usa-header-extended .usa-nav {
    border-bottom: 1px solid $color-gray-cool-light;
    border-top: none;
  }

  .usa-nav-secondary {
    top: -7rem;
  }

  .usa-header-extended .usa-nav-inner {
    margin-top: 0;
  }
}

.usa-nav-primary {
  @include margin(2.5rem null);

  @include media($nav-width) {
    margin: 0;
  }
}

.navbar-border {
  border-top: 12px solid $color-primary-darkest;
}
