.nightmare-moves {
  p {
    line-height: 1.8;
  }

  .pro-tip {
    float: left;
    margin-top: 0;

    @include media($nav-width) {
      width: 35%;
    }
  }

  .what-to-expect-section::after {
    clear: both;
    content: "";
    display: block;
  }
}

.story {
  float: left;
  margin-right: 3%;

  @include media($nav-width) {
    width: 62%;
  }
}

.story-title {
  color: $color-primary-darker;
  display: table;
  font-size: $h2-font-size;
  margin: auto;

  img {
    width: 65px;
  }

  span {
    padding-left: 1rem;
  }

  img,
  span {
    display: table-cell;
    vertical-align: middle;
  }
}

.quotation-mark {
  color: $color-primary;
  font-size: 3.5rem;
  line-height: 1.8rem;
}

.color-primary {
  color: $color-primary;
}
