.grid-form-width {
  margin-left: 0;
  max-width: $input-max-width;
}

.ppm-form {
  counter-reset: level;
  padding-left: 5rem;

  fieldset {
    counter-increment: level;
    margin-top: 2.8rem;
    position: relative;
  }

  legend {
    font-size: $base-font-size;
    margin-bottom: 1rem;

    &::after {
      color: $color-primary-darker;
      content: counter(level);
      font-size: 3rem;
      left: -3.5rem;
      position: absolute;
      top: -0.6rem;
    }
  }

  label {
    display: inline-block;
    font-size: $small-font-size;
    margin-right: 2rem;
    margin-top: 0;
  }

  input, select {
    font-size: $small-font-size;
    height: unset;
  }

  p {
    margin-top: 0;
  }

  .usa-alert {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.ppm-grid {
  padding-left: 0;
}

.ppm-footer {
  border-top: 0.125rem solid #4a4a4a;
  margin-top: 2rem;
  padding-top: 1.7rem;
}

.ppm-estimate-header {
  font-size: $h2-font-size;
}

.ppm-estimate-print {
  float: right;
}

.ppm-estimate-results {
  border-top: 0.125rem solid #4a4a4a;
  margin-top: 1.7rem;
  padding-top: 2rem;
  -webkit-print-color-adjust: exact;
}

.ppm-estimate-table {
  background: $color-gray-lightest;
  border: 0.25rem solid #4a4a4a;
  white-space: nowrap;
}

.ppm-estimate-locations {
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  font-size: $lead-font-size;
}

.ppm-estimate-inputs {
  align-items: stretch;
  border-bottom: 0.25rem solid #4a4a4a;
  border-top: 0.25rem solid #4a4a4a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ppm-estimate-member {
  display: block;
  text-align: center;
}

.ppm-estimate-table-cell {
  flex: 0 0;
  padding: 1.5rem;
}

.ppm-estimate-branch-logo {
  display: block;
  min-width: 15rem;
  width: 15rem;
}

.ppm-estimate-dayoftheweek {
  font-size: $h2-font-size;
}

.ppm-estimate-monthday {
  font-size: $title-font-size;
}

.ppm-estimate-year {
  font-size: $h2-font-size;
}

.ppm-estimate-weights-table {
  th, td {
    background-color: unset;
    border: unset;
    padding: 0.25rem 0.5rem;
    text-align: end;
  }

  margin: unset;
}

.overline {
  border-top: 0.1rem solid $color-black !important;
}

.ppm-estimate-weights-total {
  font-size: $lead-font-size;
  font-weight: $font-bold;
}

.ppm-estimate-total {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
}

.ppm-estimate-total-table-cell {
  flex: 1 0;
  padding: 1.5rem;
}

.ppm-estimate-detail-total {
  margin-top: 1.5rem;
}

.ppm-estimate-amount-total {
  display: block;
  font-size: 3.4rem;
  font-weight: $font-bold;
}

.ppm-form-group-day,
.ppm-form-group-month {
  display: inline-block;
  margin-right: 1.5rem;
  width: 5rem;
}

.ppm-form-group-year {
  display: inline-block;
  width: 7rem;
}

.ppm-estimator-map {
  height: 30rem;
  margin-top: 0.5rem;
}
