.grid-form-width {
  margin-left: 0;
  max-width: $input-max-width;
}

.ppm-form {
  counter-reset: level;
  padding-left: 5rem;

  fieldset {
    counter-increment: level;
    margin-top: 2.8rem;
    position: relative;
  }

  legend {
    font-size: $base-font-size;
    margin-bottom: 1rem;

    &::after {
      color: $color-primary-darker;
      content: counter(level);
      font-size: 3rem;
      left: -3.5rem;
      position: absolute;
      top: -0.6rem;
    }
  }

  label {
    display: inline-block;
    font-size: $small-font-size;
    margin-right: 2rem;
    margin-top: 0;
  }

  input, select {
    font-size: $small-font-size;
    height: unset;
  }

  p {
    margin-top: 0;
  }

  .usa-alert {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.ppm-grid {
  padding-left: 0;
}

.ppm-footer {
  border-top: 0.125rem solid #4a4a4a;
  margin-top: 2rem;
  padding-top: 1.7rem;
}

.ppm-estimate-results {
  border-top: 0.125rem solid #4a4a4a;
  margin-top: 1.7rem;
  padding-top: 2rem;
}

.ppm-estimate-table {
  background: $color-gray-lightest;
  border: 0.125rem solid #4a4a4a;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.ppm-estimate-detail-total {
  margin-top: 1.5rem;
}

.ppm-estimate-amount-total {
  display: block;
  font-size: 3.4rem;
  font-weight: $font-bold;
  padding-bottom: 1.5rem;
}

.ppm-form-group-day,
.ppm-form-group-month {
  display: inline-block;
  margin-right: 1.5rem;
  width: 5rem;
}

.ppm-form-group-year {
  display: inline-block;
  width: 7rem;
}
