.grid-form-width {
  margin-left: 0;
  max-width: $input-max-width;
}

.ppm-form {
  counter-reset: level;
  padding-left: 5rem;

  fieldset {
    counter-increment: level;
    margin-top: 2.8rem;
    position: relative;
  }

  legend {
    font-size: $base-font-size;
    margin-bottom: 1rem;

    &::after {
      color: $color-primary-darker;
      content: counter(level);
      font-size: 3rem;
      left: -3.5rem;
      position: absolute;
      top: -0.6rem;
    }
  }

  label {
    display: inline-block;
    font-size: $small-font-size;
    margin-right: 2rem;
    margin-top: 0;
  }

  input, select {
    font-size: $small-font-size;
    height: auto;
  }

  p {
    margin-top: 0;
  }

  .usa-alert {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.ppm-grid {
  padding-left: 0;
}

.ppm-footer {
  border-top: 0.125rem solid #4a4a4a;
  margin-top: 2rem;
  padding-top: 1.7rem;
}

.ppm-form-group-day,
.ppm-form-group-month {
  display: inline-block;
  margin-right: 1.5rem;
  width: 5rem;
}

.ppm-form-group-year {
  display: inline-block;
  width: 7rem;
}

.ppm-estimate-results {
  font-size: $base-font-size;
  max-width: 7.5in;
  -webkit-print-color-adjust: exact;
}

.ppm-estimate-header {
  font-size: $h2-font-size;
}

.ppm-estimate-print {
  float: right;
}

.ppm-estimate-locations {
  border-top: 0.125rem solid #4a4a4a;
  padding-top: 0.95rem;
}

.ppm-estimator-map {
  height: 30rem;
  margin-top: 0.5rem;
}

.ppm-estimate-details {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.76rem;
}

.nowrap {
  white-space: nowrap;
}

.ppm-estimate-your-details {
  flex: 0 0;
}

.ppm-estimate-rank {
  margin-left: 0.8rem;
  text-align: right;
}

.ppm-estimate-data {
  font-size: $lead-font-size;
  font-weight: $font-bold;
}

.ppm-estimate-table-cell {
  flex: 1 0;
}

.ppm-estimate-table {
  align-items: stretch;
  border-right: 0.125rem solid #4a4a4a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  white-space: nowrap;
}

.ppm-estimate-date {
  border-left: 0.125rem solid #4a4a4a;
  border-top: 0.125rem solid #4a4a4a;
  padding: 1.2rem 1.7rem;
}

.ppm-estimate-weights {
  border-left: 0.125rem solid #4a4a4a;
  border-top: 0.125rem solid #4a4a4a;
  padding: 1.2rem 1.7rem;
}

.ppm-estimate-weights-table {
  th, td {
    border: 0;
    font-weight: $font-bold;
    padding: 0.25rem 0.5rem 0.25rem 0;
  }

  th {
    width: 99%;
  }

  td {
    text-align: right;
  }

  margin: 0;
  width: 100%;
}

.ppm-estimate-weights-total {
  border-top: 0.1rem solid $color-black !important;
  font-size: $lead-font-size;
  font-weight: $font-bold;
}

.ppm-estimate-total {
  // because background colors won't print by default in Firefox, IE, or Edge,
  // use a box-shadow instead of a background
  border: 0.125rem solid #4a4a4a;
  box-shadow: inset 0 0 0 1000px $color-blue;
  color: $color-white;
  display: flex;
  flex-wrap: wrap;
  font-size: $lead-font-size;
  font-weight: $font-bold;
  padding: 0.9rem 1.7rem;
}

.ppm-estimate-advance {
  display: flex;
  flex-wrap: wrap;
  padding: 0.9rem 1.7rem 0 1.7rem;
}

.ppm-estimate-amount-total {
  flex: 1 0;
  text-align: right;
  white-space: nowrap;
}
