.grid-form-width {
  margin-left: unset;
  max-width: $input-max-width;
}

.ppm-form {
  counter-reset: level;
  padding-left: 5rem;

  fieldset {
    counter-increment: level;
    margin-top: 2.8rem;
    position: relative;
  }

  legend {
    font-size: $base-font-size;
    margin-bottom: 1rem;

    &::after {
      color: $color-primary-darker;
      content: counter(level);
      font-size: 3rem;
      left: -3.5rem;
      position: absolute;
      top: -0.6rem;
    }
  }

  label {
    display: inline-block;
    font-size: $small-font-size;
    margin-right: 2rem;
    margin-top: 0;
  }

  input, select {
    font-size: $small-font-size;
    height: unset;
  }

  p {
    margin-top: 0;
  }

  .usa-alert {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

}

.ppm-grid {
  padding-left: 0;
}

.ppm-footer {
  border-top: 0.125rem solid #4a4a4a;
  margin-top: 3.4rem;
  padding-top: 1.7rem;
}

.ppm-estimate-table-title {
  font-size: 2.4rem;
  font-weight: $font-bold;
  margin-bottom: 1.1rem;

  a {
      float: right;
      font-size: $base-font-size;
  }
}

.ppm-estimate-table {
  background: $color-gray-lightest;
  border: 0.125rem solid #4a4a4a;
  padding: 1.6rem 0.9rem 1.6rem 1.4rem;
}

.ppm-estimate-detail {
  font-size: 2rem;
  font-weight: $font-bold;
}

.ppm-estimate-amount {
  float: right;
  font-size: 2rem;
  font-weight: $font-bold;
}

.ppm-estimate-table-total {
  border: 0.125rem solid #4a4a4a;
  padding: 1.6rem 0.9rem 1.6rem 1.2rem;
}

.ppm-estimate-detail-total {
  display: inline-block;
  font-size: $lead-font-size;
  text-align: left;
  width: 59%;
}

.ppm-estimate-amount-total {
  display: inline-block;
  font-size: 3.6rem;
  font-weight: $font-bold;
  margin-bottom: 0.5rem;
  text-align: right;
  width: 40%;
}
