.homepage-section {
  @include padding($site-margins-mobile null);

  @include media($medium-screen) {
    @include padding($site-margins null);
  }

  & + & {
    border-top: 2px dotted $color-gray-cool-light;
  }

  img {
    width: 4rem;

    @include media($nav-width) {
      margin-right: 3rem;
      width: 9rem;
    }
  }

  ul {
    clear: left;
    margin-top: 0;
    padding-top: 2rem;

    @include media($nav-width) {
      clear: none;
      margin-left: 12rem;
      padding-top: 2.5rem;
    }
  }

  .homepage-section-header {
    color: $color-primary-darker;
    font-size: 2.5rem;

    @include media($nav-width) {
      font-size: 3.5rem;
      font-weight: $font-bold;
    }

    & + p {
      margin-top: 0.25rem;
      margin-bottom: 0;
    }
  }
}

.helpful-links-section,
.svc-spec-links-section {
  @include margin($site-margins-mobile null);

  background-color: #f3f7fa;

  h4 {
    border-bottom: 1px solid $color-cool-blue;
    color: $color-cool-blue;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

.helpful-links-section {
  @include padding($site-margins);
}

.svc-spec-links-section {
  float: right;
  width: 30%;
  @include padding($site-margins-mobile);
}

.homepage-service-section {
  border-top: 0.25rem solid $color-primary-darkest;
  h3 {
    color: $color-primary-darkest;
    font-family: $font-sans;
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
}

.homepage-anchor-section {
  @include media($medium-screen) {
    display: none;
  }

  .homepage-anchor-title {
    color: $color-primary-darker;
    font-size: 2.5rem;
    font-weight: $font-bold;
    margin: 3.5rem 1.5rem 1rem 1.5rem;
    text-align: center;
  }
}

.moving-allowances-section {
  @include margin(0 -1.5rem);
  @include padding($site-margins $site-margins-mobile);
}

@include media($medium-screen) {
  .usa-section {
    padding-top: 3rem;
  }
}
