.homepage-section {
  @include padding($site-margins null);

  & + & {
    border-top: 2px dotted $color-gray-cool-light;
  }

  img {
    display: none;
    margin-right: $site-margins;
    width: 9rem;

    @include media($medium-screen) {
      display: block;
    }
  }

  .homepage-section-header {
    color: $color-primary-darker;
    font-size: 3.5rem;
    font-weight: 600;

    & + p {
      margin-top: 0.25rem;
    }
  }
}

.helpful-links-section {
  @include padding($site-margins-mobile);

  h4 {
    border-bottom: 1px solid $color-cool-blue;
    color: $color-cool-blue;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

  background-color: $color-gray-cool-light;
}

.homepage-service-section {
  border-top: 0.25rem solid $color-primary-darkest;
  h3 {
    color: $color-primary-darkest;
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
}

.moving-allowances-section {
  @include margin(0 -1.5rem);
  @include padding($site-margins $site-margins-mobile);

  @include media($medium-screen) {
    &:focus {
      background-color: $color-gold-lightest;
    }
  }
}

@include media($medium-screen) {
  .usa-section {
    padding-top: 3rem;
  }
}
