.homepage-section {
  @include padding($site-margins null);
  border-bottom: 1px solid $color-gray-light;

  &:last-of-type {
    border-bottom: none;
  }

  img {
    display: none;
    margin-right: $site-margins;
    width: 14rem;

    @include media($medium-screen) {
      display: block;
    }
  }

  h3 {
    margin: 0;

    & + p {
      margin-top: 0.25rem;
    }
  }
}

.helpful-links-section {
  @include padding($site-margins-mobile);

  h4 {
    border-bottom: 1px solid $color-cool-blue;
    color: $color-cool-blue;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

  background-color: $color-gray-cool-light;
}

.moving-allowances-section {
  @include margin(0 -1.5rem);
  @include padding($site-margins $site-margins-mobile);

  @include media($medium-screen) {
    &:focus {
      background-color: $color-gold-lightest;
    }
  }
}

@include media($medium-screen) {
  .usa-section {
    padding-top: 3rem;
  }
}
