.svc-spec-body {
  overflow-wrap: break-word;
  padding-top: 2rem;
  word-wrap: break-word;

  .sidebar-accordion {
    margin: 0 0-$site-margins-mobile 2rem 0-$site-margins-mobile;
  }
}

.svc-spec-banner {
  margin: 0 0-$site-margins-mobile;
  position: relative;

  @include media($medium-screen) {
    margin: 0 0 2rem 0;
  }

  img {
    display: block;
  }
}

.svc-spec-logo {
  left: 1rem;
  max-width: 10rem;
  position: absolute;
  top: 1rem;
  width: 20%;

  @include media($medium-screen) {
    left: 2rem;
    top: 2rem;
  }
}

.post {
  background-color: $color-primary-alt-lightest;
  border-left: 6px solid $color-primary-alt;
  margin-bottom: 1.5rem;
  padding: $site-margins-mobile;

  p:last-child {
    margin-bottom: 0;
  }
}

.supplemental-info {
  border-top: 4px solid $color-gray-cool-light;
  margin-top: 3rem;
  padding-top: 3rem;
}

.svc-spec-links {
  font-size: $small-font-size;

  & + & {
    border-top: 1px solid $color-gray;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  header {
    font-weight: bold;
  }

  table {
    margin-bottom: 2rem;
    margin-top: 0;
    table-layout: fixed;
    width: 100%;
  }

  th {
    font-weight: normal;
    width: 5em;
  }

  th, td {
    background-color: inherit;
    border: 0;
    padding: 0;
    word-wrap: break-word;
  }

  p {
    line-height: 1.3;
    margin: 0;
  }
}
