.svc-spec-frame {
  border: 2px solid $color-primary-darkest;
  border-radius: 0.5em;
  margin-bottom: 2em;

  header {
    background: $color-primary-darkest;
    color: $color-white;
    font-size: $lead-font-size;
    padding: 0.5em;
  }

  time {
    font-size: $small-font-size;
    font-style: italic;
  }

  section {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.svc-spec-links {
  font-size: $small-font-size;

  & + & {
    border-top: 1px solid $color-gray;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  header {
    font-weight: bold;
  }

  table {
    margin-bottom: 2rem;
    margin-top: 0;
    table-layout: fixed;
    width: 100%;
  }

  th {
    font-weight: normal;
    width: 5em;
  }

  th, td {
    border: 0;
    padding: 0;
    word-wrap: break-word;
  }
}
