.post {
  background-color: $color-primary-alt-lightest;
  border-left: 6px solid $color-primary-alt;
  @include padding($site-margins-mobile);
}

.svc-spec-links {
  font-size: $small-font-size;

  & + & {
    border-top: 1px solid $color-gray;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  header {
    font-weight: bold;
  }

  table {
    margin-bottom: 2rem;
    margin-top: 0;
    table-layout: fixed;
    width: 100%;
  }

  th {
    font-weight: normal;
    width: 5em;
  }

  th, td {
    border: 0;
    padding: 0;
    word-wrap: break-word;
  }
}
