$sidenav-screen-width: 800px;

.sidenav {
  float: left;
  margin-right: 5%;
  width: 100%;

  @include media($sidenav-screen-width) {
    padding-top: 1.5rem;
    width: 20%
  }

  .usa-sidenav-list {
    border: none;

    // undo sidenav styling
    @media screen and (max-width: $sidenav-screen-width - 1) {
      li {
        border-top: none;
      }

      a {
        border: none;
        color: $color-primary;
        margin-bottom: 0.5rem;
        padding: 0;

        &:hover {
          background-color: $color-white;
        }
      }
    }
  }
}

.sidenav-jump-to {
  margin-bottom: 0.5rem;
  @include media($sidenav-screen-width) {
    display: none;
  }
}

.sidenav-body {
  float: left;
  width: 100%;

  @include media($sidenav-screen-width) {
    width: 75%;
  }
}
