.sidenav-footer {
  border-top: solid 2px $color-primary-darkest;
  margin-top: 4rem;

  .usa-button {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    width: 100%;
  }
}

.usa-layout-docs-sidenav {
  display: none;

  @include media($large-screen) {
    display: block;
  }
}
