.special-items-navigation {
  @include clearfix;
  @include unstyled-list;
  align-items: baseline;
  -ms-flex-align: baseline;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: $site-margins-mobile;

  li {
    line-height: 1.3;
    margin-bottom: $site-margins-mobile;
    width: 100%;

    @include media($small-screen) {
      width: 25%;
    }

    @include media($nav-width) {
      width: 20%;
    }
  }

  .double-wide {
    @include media($small-screen) {
      width: 50%;
    }

    @include media($nav-width) {
      width: 40%;
    }
  }

  a {
    display: block;
    font-size: $h5-font-size;
    font-weight: $font-bold;
    padding: $site-margins-mobile;
    text-align: center;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }

    img {
      display: block;
      margin: 0 auto $site-margins-mobile auto;
    }

    span {
      display: block;
    }

    i {
      color: $color-base;
      display: block;
      font-style: italic;
      font-weight: $font-normal;
    }
  }
}
