.js-tabs .tabs-list {
  @include unstyled-list;
  border-bottom: 0.25rem solid $color-primary;
  display: table;
  width: 100%;

  li {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;

    a {
      border-radius: 0.5rem 0.5rem 0 0;
      display: block;
      line-height: 1.3;
      padding: 0.5rem 1rem;
      text-decoration: none;

      &[aria-selected="true"] {
        background: $color-primary;
        color: $color-white;
      }

      span {
        display: none;

        @include media(44rem) {
          display: inline;
        }
      }
    }
  }
}

.tabs-panel {
  & + & {
    margin-top: $site-margins;
  }

  .js-tabs & {
    margin-top: 0;
  }
}
