
.tabsList {
  border-bottom: 0.25rem solid $color-primary;
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  
  li {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;

    a {
      border-radius: 0.5rem 0.5rem 0 0;
      color: $color-primary;
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;

      span {
        display: none;

        @include media(44rem) {
          display: inline;
        }
      }
    }
 
    &.current a {
      background: $color-primary;
      box-shadow: none;
      color: $color-white;
      font-weight: bold;
    }
  }
}
