.transportation-office {
  border: 1px solid $color-gray-light;
  box-shadow: 0 0.25rem 0.25rem 0 rgba($color-gray, 0.25);
  margin-top: $site-margins;
}

.transportation-office-header {
  background-color: $color-cool-blue-lightest;
  padding: $site-margins-mobile;
}

.transportation-office-body {
  font-size: $h5-font-size;
  padding: $site-margins-mobile;
}
