.transportation-office {
  border: 1px solid $color-gray-light;
  box-shadow: 0 0.25rem 0.25rem 0 rgba($color-gray, 0.25);
  margin-top: $site-margins;
}

.transportation-office-header {
  background-color: $color-cool-blue-lightest;
  padding: $site-margins-mobile;
}

.transportation-office-body {
  font-size: $h5-font-size;
  padding: $site-margins-mobile;
}

.transportation-office-services {
  @include unstyled-list;

  li {
    background-color: $color-gold;
    border-radius: $border-radius;
    display: inline-block;
    margin: 0.5rem 0.25rem 0 0;
    padding: 0.5rem 0.75rem;
  }
}
