.tutorial {
  h3 {
    clear: none;
    font-weight: $font-normal;
    margin: 0;
    padding-top: 1rem;

    span {
      display: block;
      font-size: $small-font-size;
      font-weight: $font-bold;
      text-transform: uppercase;
    }
  }
}

.tutorial-header {
  position: relative;
}

.show-all {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: auto;

  img {
    display: block;
    width: 2rem;
  }
}

.show-all,
.show-all:hover {
  background-color: transparent;
}

.single-page-tutorial {
  .carousel-item {
    margin-bottom: 6rem;
  }

  .owl-stage {
    transform: translate3d(0px, 0px, 0px) !important;
    width: auto !important;
  }

  .owl-nav {
    display: none;
  }
}
