.single-page-tutorial {
  figure {
    margin: 4.5rem 0 0 0;
  }

  img {
    border: 1px solid $color-gray-light;
    display: block;
  }
}

.tutorial {
  h6 {
    font-size: $small-font-size;
    margin: 0;
  }
}
