.weight-estimator-form {
  margin-top: 2rem;

  .weight-result {
    font-size: $h3-font-size;
    font-weight: $font-bold;
  }
}

.weight-estimator-footer {
  border-top: solid 1px $color-black;
  padding-top: 2rem;
  margin-top: 2.5rem;
}

.hhg-table {
  td {
    border: none;
    padding: 1rem 1.5rem 0 1.5rem;
  }

  .hhg-label {
    margin-top: 0;
  }

  .hhg-quantity-input {
    float: right;
    height: 3.5rem;
    width: 5rem;
  }
}
