.weight-estimator-form {
  margin-top: 2rem;
}

.weight-estimator-footer {
  border-top: solid 1px $color-black;
  padding-top: 2rem;
  margin-top: 2.5rem;
}

.hhg-table {
  td {
    border: none;
    padding-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
  }

  .hhg-label {
    margin-top: 0;
  }

  .hhg-quantity-input {
    float: right;
    height: 3.5rem;
    width: 5rem;
  }
}
