.customer-service-section {

  & + & {
    border-top: 1px solid $color-gray;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  ul {
    padding-left: 1rem;
  }

  li {
    margin-left: 2rem;
    margin-bottom: 0;

  }

}

.two-column-list {
  columns: 2;
  column-gap: 1rem;
}
