header,
h1,
h4,
footer,
.breadcrumbs,
.login-banner,
.back-to-top,
.ppm-description,
.ppm-form,
.ppm-estimate-print {
  display: none;
}

.ppm-estimate-results {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.ppm-footer {
  border: 0;
  margin: 0;
}

.usa-section {
  padding: 0;
}

.usa-alert {
  padding-bottom: 0.7rem;
  padding-top: 1rem;
}

@page {
  margin: 0.5in;
}
