<div class="usa-width-one-half">
  <table class="usa-table-borderless hhg-table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <%- household_goods.each do |household_good| -%>
        <tr>
          <td>
            <%= label_tag household_good.key, household_good.name %>
          </td>
          <td>
            <%= number_field_tag household_good.key, nil, class: 'hhg-quantity-input', id: household_good.key, inputmode: 'numeric', pattern: '[0-9]*' %>
            <%= hidden_field_tag household_good.weight_key, household_good.weight, class: 'hhg-weight' %>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
